<nav class="site-nav" id="site-nav">
	<div class="dashboard-footer-wrapper">
		<div class="tabs">
			<input type="radio" name="tabs" id="tab1" checked >
			<label for="tab1"><span class="tab-icon-dds">DDS</span></label>
			<input type="radio" name="tabs" id="tab2">
			<label for="tab2"><span class="tab-icon-dmail">Dmail</span></label>
			<input type="radio" name="tabs" id="tab3">
			<label for="tab3"><span class="tab-icon-upload">Upload</span></label>
			<div id="tab-content1" class="tab-content">
				<div class="dashboard-user-icon"><img src="http://localhost:4251/.dds/images/user-img.png" height="28px" width="28px"></div>
				<div class="dashboard-user-self-status-icon-active"></div>
					<ul class="dashboard-user-menu">
						<li>
							<input class="dashboard-user-menu-input" id="user-status" type="checkbox" name="dashboard-user-menu"/>
							<label class="dashboard-user-menu-input" for="user-status">{user}</label>
							<ul class="dashboard-user-submenu">
								<li><a href="#">user</a></li>
								<li><a href="#">userrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</a></li>
								<li><a href="#">user</a></li>
								<li><a href="#">user</a></li>
							</ul>
						</li>
					</ul>
				<div class="dashboard-active-convo-wrapper">
					<div class="dashboard-active-convo-title">Active conversations (6)</div>
					<ul class="dashboard-convo-list">
						<li class="dashboard-icon-chat-group dds-trunc"><a href=""><b>morphis-dev</b></a></li>
						<li class="dashboard-icon-chat-group dds-trunc"><a href="">bitcoin-dev</a></li>
						<li class="dashboard-icon-chat-group dds-trunc"><a href="">math</a></li>
						<li class="dashboard-icon-chat-group-lock dds-trunc"><a href="">privateGroup</a></li>
						<li class="dashboard-icon-chat-blog dds-trunc"><a href="">bob's blog</a></li>
					</ul>
					<hr class="thin-line"></hr>
					<div class="dashboard-active-convo-title">Private conversations (6)</div>
					<ul class="dashboard-convo-list">
						<li class="dashboard-active-user"><a href=""><div class="dashboard-user-status-icon-active"></div>bob</a></li>
						<li class="dashboard-inactive-user"><a href=""><div class="dashboard-user-status-icon-inactive"></div>OfflineFriend</a></li>
					</ul>
				</div>
			</div>
			<div id="tab-content2" class="tab-content-dmail">
				<div class="dashboard-convo-list">
					<div class="dashboard-dmail-header">
						<p class="mailboxes">MAILBOXES FOR</p>
						<ul class="dashboard-user-menu">
							<li>
								<input class="dashboard-user-menu-input" id="dmail-address" type="checkbox" name="dashboard-user-menu"/>
								<label class="dashboard-user-menu-input" for="dmail-address">{user}</label>
								<ul class="dashboard-user-submenu">
									<li><a href="#">dmail</a></li>
									<li><a href="#">dmail2</a></li>
									<li><a href="#">dmail3</a></li>
									<li><a href="#">dmail4</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<span class="mailbox-list">
						<ul>
							<li class="inbox-icon active-mailbox"><a href="" style="display:block"><div class="mailbox-pad">Inbox<div class=""></div></div></a></li>
							<li class="inbox-icon "><a href="" style="display:block"><div class="mailbox-pad">Outbox<div class=""></div></div></a></li>
							<li class="sent-icon "><a href="" style="display:block"><div class="mailbox-pad">Sent<div class=""></div></div></a></li>
							<li class="drafts-icon "><a href="" style="display:block"><div class="mailbox-pad">Drafts<div class=""></div></div></a></li>
							<li class="drafts-icon "><a href="" style="display:block"><div class="mailbox-pad">Trash<div class="inactive-notify">1</div></div></a></li>
						</ul>
					</span>
					<div class="dashboard-hr-pad"><hr class="style2"></hr></div>
					<ul>
						<form target="_self" action="morphis://.dmail/create_tag" method="get" accept-charset="UTF-8 ISO-8859-1">
							<input name="csrf_token" value="4mD9vs5BAZhUWC11QqiTewJyanxbzuhNJPWZaj1qjsnJ5mvt9gykLkt7AVzKAbgbeSpKzwihci1v8cQa7BvcjJyy" type="hidden">
							<input name="redirect" value="morphis://.dmail/aside/mem6zt7961nhya8icgrwyk6ok3eah5e3jed31djndzay6yai1keyt1gppprksb5tz6ptpcjxr17g8s9nec79s8uodxtuz9jtrwcsiji/Inbox" type="hidden">
							<span class="tag-head">
								<li class="tag-icon">
									<span class="tag-text-pad">
										<input class="tag-text" name="tag_name" placeholder="ADD TAG" type="text">
										<button class="add-tag" value="send" name="add-tag" type="submit">+</button>
									</span>
								</li>
							</span>
						</form>
						<span class="tag-list">
							<li class="bullet">
								<span class="mailbox-pad">
									<a href="morphis://.dmail/wrapper/mem6zt7961nhya8icgrwyk6ok3eah5e3jed31djndzay6yai1keyt1gppprksb5tz6ptpcjxr17g8s9nec79s8uodxtuz9jtrwcsiji/Sam">Sam</a>
								</span>
							</li>
						</span>
					</ul>
				</div>
			</div>
			<div id="tab-content3" class="tab-content">
				<p>Select the file to upload below:</p>
				<form action="upload" method="post" enctype="multipart/form-data">
					<input type="file" name="fileToUpload" id="fileToUpload" class="inputfile"/>
					<!--<label for="file">Choose a file</label>-->
					<!--<input type="file" name="file" id="file" />
					<label for="file" class="custom-file-upload"><div class="dashboard-upload-icon"></div>Choose a file</label>-->
					<button type="submit" name="submit" class="dds-button dashboard-upload-button">Upload</button>
					<hr class="thin-line"></hr>
					other stuff...
				</form>
			</div>
		</div><div class="dashboard-footer-push"></div>
	 </div>
	<div class ="dashboard-footer"><div class="magnifying-glass"></div><div class="dashboard-search"><input type="text" name="search" placeholder="Explore..."></div></div>
</nav>

<div class="page-wrap">
	<div class='dds-header-wrapper'>
		<header class="main-header">
			<div class="icon">
				<a href="#site-nav">&#x25CF;<br />&#x25CF;<br />&#x25CF;</a>
				<a href="#" class="close-menu">&#x25CF;<br />&#x25CF;<br />&#x25CF;</a>
			</div>
			<ul class="dds-channel-menu">
				<li>
					<input class="dds-channel-menu-input" id="check01" type="checkbox" name="dds-channel-menu"/>
					<label class="dds-channel-menu-input" for="check01"><div class='dds-channel-hash'>#</div>{channel_bare}</label>
					{channel_html}
				</li>
			</ul>
		</header>
	 </div>
	<div class='dds-statusbar'>You <a href='' class='dds-username'>@{user}</a> have joined the <div class="dds-channel dds-trunc">{channel}</div> conversation.</div>
	<iframe src='morphis://.dds/axon/synapses/{key}{query}#new' style='height: calc(100% - 246px); width: 100%; border: 0;' seamless='seamless'></iframe>
	<iframe src='morphis://.dds/synapse/create/{key}{query}' style='width: 100%; height: 165px; border: 0;' seamless='seamless' name='post_frame'></iframe>
</div>