<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body>
	<div class="blog-header-content">
		<div class="blog-user-icon"><img src="morphis://.dds/images/user-img-lg.png" height="100px" width="100px"></div>
		<div class="blog-header-profile">
		<h1>One Messy Kitchen</h1>
		<div class="blog-header-profile-text">I live in the city but I’m a farm girl at heart. I love gardening, but it gets pretty difficult here in the city, especially with the limited space, I can’t grow as much as I’d like. Having never lived on a farm before, its my dream to have a nice chunk of land with a large garden which I could hopefully live off of, and some animals like milk cows and laying hens!</div>
		<div class="blog-header-comments">125 Comments</div>
		<ul class="blog-header-tabs">
			<li>Follow</li>
			<li>Dmail</li>
			<li>Comment</li>
		</ul>
		<div class="blog-header-tabs-wrapper">
			<ul class="blog-header-tabs">
				<li>Profile</li>
				<li>Latest</li>
				<li>Recommends</li>
				<li>Responses</li>
			</ul>
		</div>
	</div>
	</div>
<div class="blog-post-short-wrapper">
<div class="blog-post-short"><div class="dds-user-icon"><img src="morphis://.dds/images/user-img.png"></div><h4>My first post</h4>
Posted by: Borp DeBorp 1 months ago (2016-07-14 11:36:00)
<p>Last week, an anonymous Slashdot reader submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm:</p><p>
"GE and Deepwater Wind, a developer of offshore turbines, are installing five massive wind turbines in the middle of the Atlantic Ocean. They will make up the first offshore wind farm in North America, called the Block Island Wind Farm. Over the past several weeks, the teams have worked to install the turbines 30 miles off the cost of Rhode Island, and are expected to finish by the end of August 2016. The farm will be fully operational by November 2016."
Fun fact: GE's offshore wind farm has turbines that are twice as tall as the Statue of Liberty. You can view the slideshow of images here.</p></div></div>
</body>
</html>