<div class="dds-reply-wrapper">
    <div class="dds-reply-content">
	<!--div class="dds-user-icon"><img src="morphis://.dds/images/user-icon3-sm.png"></div-->
	    <div class="dds-reply">
        <form class="dds-message" action="morphis://.dds/synapse/create" method="post" accept-charset="UTF-8 ISO-8859-1">
            <input type="hidden" name="target_addr" value="{target_addr}"/>
            <input type="hidden" name="csrf_token" id="csrf_token" value="{csrf_token}"/>
            <!--textarea name="content" autofocus>{message_text}</textarea-->
            <input type="text" style="width: 100%;" name="content" value="{message_text}" placeholder="Singleline message..." autofocus />
            <textarea name="content2" style="width: calc(100% - 6em);" autofocus rows="3" id="TITLE" placeholder="Multiline message..."></textarea>
            <button class="reply" type="submit">SEND</button>
        </form>
	    </div>
	</div>
    </div>
</div>
