<div class="dds-element">
	<p>Channels:<ul>
		<li><a href='morphis://.grok/@morphis{query}'>#MORPHiS</a></li>
		<li><a href='morphis://.grok/@morphis-dev{query}'>#MORPHiS-dev</a></li>
		<br/>
		<li><a href='morphis://.grok/@news{query}'>#news</a></li>
		<li><a href='morphis://.grok/@tech-news{query}'>#tech-news</a></li>
		<br/>
		<li><a href='morphis://.grok/@math{query}'>#math</a></li>
		<li><a href='morphis://.grok/@math-proofs{query}'>#math-proofs</a></li>
		<br/>
		<li><a href='morphis://.grok/@bitcoin{query}'>#bitcoin</a></li>
		<li><a href='morphis://.grok/@bitcoin-wizards{query}'>#bitcoin-wizards</a></li>
		<li><a href='morphis://.grok/@bitcoin-dev{query}'>#bitcoin-dev</a></li>
		<br/>
		<li><a href='morphis://.grok/{random_id_enc}{query}'>Channel: $RANDOM</a></li>
	</ul></p>
	<p>Rough UI Things:<ul>
		<li><a href='morphis://.dds/axon/create{query}'>axon</a></li>
	</ul></p>
</div>
