<p>Channels:<ul>
<li><a href='morphis://.grok/@morphis'>#MORPHiS</a></li>
<li><a href='morphis://.grok/@morphis-dev'>#MORPHiS-dev</a></li>
<br/>
<li><a href='morphis://.grok/@news'>#news</a></li>
<li><a href='morphis://.grok/@tech-news'>#tech-news</a></li>
<br/>
<li><a href='morphis://.grok/@math'>#math</a></li>
<li><a href='morphis://.grok/@math-proofs'>#math-proofs</a></li>
<br/>
<li><a href='morphis://.grok/@bitcoin'>#bitcoin</a></li>
<li><a href='morphis://.grok/@bitcoin-wizards'>#bitcoin-wizards</a></li>
<li><a href='morphis://.grok/@bitcoin-dev'>#bitcoin-dev</a></li>
<br/>
<li><a href='morphis://.grok/{random_id_enc}'>Channel: $RANDOM</a></li></ul>
</p>
<p>Rough UI Things:<ul>
<li><a href='morphis://.dds/axon'>axon</a></li>
<li><a href='morphis://.dds/synapse'>subscribe</a></li>
<li><a href='morphis://.dds/neuron'>feeds</a></li>
</ul></p>
