<div class="dds-element">
	<p>Channels:
    <p>{channels}</p>
    <div>
        <span>Add Channel:</span>
        <form action="morphis://.dds/feed/add" method="post" accept-charset="UTF-8 ISO-8859-1">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{csrf_token}/">
            <input type="hidden" name="refresh_url" id="refresh_url" value="{refresh_url}"/>
            <input type="text" name="name" id="name" placeholder="name"/>
            <input type="text" name="address" id="address" placeholder="address"/>
            <button type="submit">ADD</button>
        </form>
    </div>
	<div>Rough UI Things:<ul>
		<li><a href='morphis://.dds/axon/create{query}'>axon</a></li>
	</ul></div>
</div>
