<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="style.css"></link>
    <title></title>
</head>
<body><div class="dds-user-icon"><img src="images/user-icon3-sm.png"></div>
<div class="dds-post-wrapper">
    <div class="dds-post-nav">
	<div class="dds-post-name">Mel</div>
	<div class="dds-post-time">2 years ago</div>
    </div>
	<div class="dds-post-text">this is not a true responsive solution. only works for certain aspect ratio iframe. you should put that in your instructions. if your iframe content resize when changing browser size, this will not work for you. </div>

</div>
</body>
</html>