/* THIS IS FILE IN DDS DIRECTORY */
/*
 * @font-face {
 *    font-family: 'ralewaylight';
 *    src: url('raleway-light-webfont.eot');
 *    src: url('raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
 *         url('raleway-light-webfont.woff2') format('woff2'),
 *         url('raleway-light-webfont.woff') format('woff'),
 *         url('raleway-light-webfont.ttf') format('truetype'),
 *         url('raleway-light-webfont.svg#ralewaylight') format('svg');
 *    font-weight: normal;
 *    font-style: normal;
 *
 * }
 */
html { 
	position: relative;
	min-height: 100%;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: .8em 'ralewaylight', sans-serif;
	line-height: 1.2em;
	letter-spacing: .03em;
	padding: 0;
	margin: 0 0 0 0;
	overflow-x: hidden;
	background-color: #f3f6f8;
}
h1 {
	font-size: 3em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
}
h2 {
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: .07em;
	text-transform: uppercase;
}
h3 {
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: .07em;
	text-transform: uppercase;
}
p {
	margin: 0 0 10px 0;
}
p:last-child {
	margin-bottom: 0;
}
hr.style1 {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
hr.style2 {
	height: 6px;
	background: url("morphis://.dds/images/hr-11.png") repeat-x 0 0;
	border: 0;
}
hr.style12 {
	height: 6px;
	background: url("morphis://.dds/images/hr-12.png") repeat-x 0 0;
	border: 0;
}
iframe {
	border: 0;
}
.dds-body-bkg {
	background-color: #edeeee;
}
.dds-wrapper {
}
/*.dds-channel-wrapper {
 * margin: 0 20px 0 20px;
 } **/
.dds-trunc {
	overflow: hidden;
	text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
	-o-text-overflow: ellipsis;  // for Opera 9 & 10
	white-space: nowrap;
}



/*********************
dds header
**********************/

.dds-header-wrapper {
	height: 4em;
	background-color: #161a1e;
}
.dds-header-dash-icon {
	background-color: #161a1e;
	width: 9em;
	color: #fff;
	height: 100%;
	float: left;
	font-size: .35em;
	line-height:1.6em;
	text-align: center;
	padding-top: 3em;
	padding-left: 2em;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	display: block;
	margin-left:-10px;
}
.dds-header-dash-icon:hover {
	margin-left: 0px;
	background-color: #3b3e43;
	display: block;
}
.dds-channel-hash {
	color: #3b3e43;
	float: left;
	font-size: 1.5em;
}
.dds-channel-header {
	background-color: #161a1e;
	height: 2em;
}


/**********************
dds status bar
*********************/

.dds-channel {
	font-weight: bold;
	max-width: 50%;
	display: inline-block;
	vertical-align: top;
}
.dds-statusbar {
	height: 30px;
	background-color: #371f44;
	color: #fff;
	padding: 7px 20px 7px 20px;
	white-space: nowrap;
}
.dds-statusbar a:link {
	color: #38a3af;
	text-decoration: none;
	font-weight: bold;
}
.dds-statusbar a:visited {
	color: #38a3af;
	text-decoration: none;
	font-weight: bold;
}
.dds-statusbar a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}


/***********************
dds reply footer
**********************/

.dds-reply-accesskey-text {
	color: #725880;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 15px;
	font-size: .9em;
	font-style: italic;
	display: inline-block;
}
.dds-reply-top {
	height: 3.5em;
}
.dds-reply-id {
	font-size: 0.75em;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 20%;
	color: #fff;
	white-space: nowrap;
	float: left;
}
.dds-reply-text {
	color: #fff;
	margin: 1em 0 .5em 0;
	float: left;
}
.dds-reply-wrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 165px;
	width: 100%;
	padding: 14px 20px 7px 20px;
	background-color: #371f44;
}
.dds-reply-user-icon {
	float: left;
	height: 55px;
	vertical-align:top;
}
.dds-reply-content {
	padding-left: 6em;
	width: 90%;
}
.dds-reply-input {
}
.dds-message {
}
.dds-text-area-wrapper {
	width: 100%;
}
.dds-message textarea {
	padding:8px;
	width: 100%;
	border: 1px solid #371f44;
	border-radius: 4px;
	font: 11px 'ralewaylight', sans-serif;
}
input[type="text"]:focus, textarea:focus {
	outline: medium none;
	border: 1px solid #39a3af;
	box-shadow: 0px 0px 2px 1px rgba(56, 163, 175, 0.9) inset;
}
.dds-message li {
	white-space: nowrap;
	list-style: none;
}
.dds-message input {
	height:2em;
	width: 90%;
	border: 1px solid #371f44;
	border-radius: 4px;
	padding-left: 10px;
	font: 11px 'ralewaylight', sans-serif;
}
.dds-reply-button-wrapper {
	padding-top: .5em;
	float: right;
}
button.dds-reply-button {
	vertical-align: top;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	padding: 3px 10px;
	text-align: center;
}
button.dds-reply-button:hover {
	background: #38a3af;
	cursor: pointer;
	color: #fff;
}
button.dds-reply-button:active {
	border: 1px solid;
}


/************************
dds post
***********************/

.dds-ident-post {
}
.dds-ident-post a:link {
	color:red;
}
.dds-post-wrapper {
	padding: 7px 20px 7px 20px;
	position: relative;
	height: 100%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.dds-post-wrapper:hover {
	background-color: #fff;
}
.dds-post-content {
	margin-left: 45px;
	line-height: 1.4em;
}
.dds-post-name {
	display: inline-block;
	font-size: 1em;
	color: #141c30;
	text-decoration: none;
	max-width: 45%;
	float: left;
}
.dds-post-title {
	display: inline-block;
	font-weight: 100;
	font-size: 1em;
	color: #141c30;
	text-decoration: none;
	height: 1em;
	float: left;
}
.dds-post a:link,a:visited {
	color: #141c30;
	text-decoration: none;
	font-weight: bold;
}
a.dds-post:hover {
	color: #38a3af;
	text-decoration: none;
}
.dds-post-time {
	font-size: .9em;
	color: #a2a6ab;
	display: inline-block;
	font-style: italic;
}
.dds-post-reply { 
	float: right;
	margin-right: 100px;
}
.dds-post-text { 
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.dds-post-bottom-icons {
	padding: 2px 0 0 0;
	color: #a2a6ab;
}
.dds-vote-current {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:14px;
	height:15px;
	background-position: -76px top;
	float: left;
	margin-top: .1em;
}
.dds-post-icons {
	float: right;
	margin-right: 100px;
}
.dds-post .dds-icon-button {
	visibility: hidden;
}
.dds-post:hover .dds-icon-button {
	visibility: visible;
}
.dds-reply {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:17px;
	height:15px;
	float: left;
	background-position: left top;
}
.dds-reply:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-vote {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	float: left;
	background-position: -76px top;
	margin-left: 5px;
}
.dds-vote:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-mention {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	float: left;
	background-position: -40px top;
	margin-left: 5px;
}
.dds-mention:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-dmail {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:18px;
	height:15px;
	float: left;
	background-position: right top;
	margin-left: 5px;
}
.dds-dmail:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-follow {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:16px;
	height:15px;
	float: left;
	background-position: -58px top;
	margin-left: 5px;
}
.dds-follow:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-hidden {
	display: none;
}
.dds-user-icon {
	float: left;
}


/************************
dds refresh text
***********************/

.dds-refresh-wrapper {
	margin: 3px 20px 10px 20px;
}
.dds-refresh-text {
	font-style: italic;
	font-size: .9em;
	color: #a2a6ab;
	padding: 10px 0 10px 0;
}

/* Other.*/
.dds-element {
	padding:8px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	font-size: 1.2em;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2) inset;
}


/*modal*/

.modalDialog-dmail {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog-dmail:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog-dmail > div {
	width: 80%;
	height: 85%;
	position: relative;
	margin: 3% auto;
	padding: 20px 20px 10px 20px;
	border: 1px solid #a3a3a3;
	border-radius: 4px;
	box-shadow: 0 0 5px #3b3e43;
	-o-box-shadow: 0 0 5px #3b3e43;
	-webkit-box-shadow: 0 0 5px #3b3e43;
	-moz-box-shadow: 0 0 5px #3b3e43;
	background: #fff;
}
.close {
	border: 1px solid #a3a3a3;
	line-height: 25px;
	position: absolute;
	right: 3.5em;
	text-align: center;
	top: 2em;
	width: 28px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
a.close {
	color: #a3a3a3;
}
.close:hover {
	background: #38a3af;
	color: #fff;
}


/*----- User Dropdown -----*/
/*Style for the first level menu bar*/
ul.dds-menu {
	position:fixed;
	top:0;
	height:3em;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	float: left;
	margin-right: 1em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: .9em;
	max-width: 85%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
ul.dds-menu > li {
	float:left;
	list-style-type:none;
	width: 100%;
}
ul.dds-menu:hover {
	color: #38a3af;
	background: #371f44;
}
label.dds-menu-input {
	position:relative;
	display:block;
	padding:0 18px 0 12px;
	line-height:3em;
	transition:background 0.3s;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

label.dds-menu-input:after {
	content:"";
	position:absolute;
	display:block;
	top:50%;
	right:5px;
	width:0;
	height:0;
	border-top:4px solid rgba(255,255,255,1);
	border-bottom:0 solid rgba(255,255,255,1);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	transition:border-bottom .1s, border-top .1s .1s;
}

input.dds-menu-input:checked ~ label.dds-menu-input:after {
	border-top:0 solid rgba(255,255,255,1);
	border-bottom:4px solid rgba(255,255,255, 1);
	transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.dds-menu-input {
	display:none
}

/*show the second level menu of the selected voice*/
input.dds-menu-input:checked ~ ul.dds-submenu {
	max-height:300px;
	transition:max-height 0.2s ease-in;
	max-height: 95px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 999;
}

/*style for the second level menu*/
ul.dds-submenu {
	max-width:85%;
	max-height:0;
	padding:0;
	overflow:hidden;
	list-style-type:none;
	background:#26162f;
	box-shadow:0 0 1px rgba(0,0,0,.3);
	transition:max-height 0.5s ease-out;
	position:absolute;
	min-width:100%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}

ul.dds-submenu li {
	max-width: 100%;
}

ul.dds-submenu li a {
	max-width: 100%;
	display:block;
	padding:12px;
	color:#ddd;
	text-decoration:none;
	box-shadow:0 -1px rgba(0,0,0,.5) inset;
	transition:background .3s;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

ul.dds-submenu li a:hover {
	background:#371f44;
	color: #38a3af;
}
/*----- Channel Dropdown -----*/
/*Style for the first level menu bar*/
ul.dds-channel-menu {
	position:fixed;
	top:0;
	height:100%;
	border: none;
	color: #fff;
	float: left;
	margin-right: 1em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: .9em;
	max-width: 85%;
	font-size: 1.5em;
	font-weight: 100;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	background: #161a1e;
}
ul.dds-channel-menu > li {
	float:left;
	list-style-type:none;
	width: 100%;
}
ul.dds-channel-menu:hover {
	color: #38a3af;
}
label.dds-channel-menu-input {
	position:relative;
	display:block;
	padding:0 18px 0 12px;
	line-height:2.6em;
	transition:background 0.3s;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

label.dds-channel-menu-input:after {
	content:"";
	position:absolute;
	display:block;
	top:50%;
	right:5px;
	width:0;
	height:0;
	border-top:4px solid rgba(255,255,255,1);
	border-bottom:0 solid rgba(255,255,255,1);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	transition:border-bottom .1s, border-top .1s .1s;
}

input.dds-channel-menu-input:checked ~ label.dds-channel-menu-input:after {
	border-top:0 solid rgba(255,255,255,1);
	border-bottom:4px solid rgba(255,255,255, 1);
	transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.dds-channel-menu-input {
	display: none
}

/*show the second level menu of the selected voice*/
input.dds-channel-menu-input:checked ~ ul.dds-channel-submenu {
	max-height: 300px;
	transition: max-height 0.2s ease-in;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 999;
}

/*style for the second level menu*/
ul.dds-channel-submenu {
	max-width:85%;
	max-height:0;
	padding:0;
	overflow:hidden;
	list-style-type:none;
	background:#161a1e;
	box-shadow:0 0 1px rgba(0,0,0,.3);
	transition:max-height 0.5s ease-out;
	position:absolute;
	min-width:100%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	font-size: .8em;
}

ul.dds-channel-submenu li {
	max-width: 100%;
}

ul.dds-channel-submenu li a {
	max-width: 100%;
	display:block;
	padding:12px;
	color:#ddd;
	text-decoration:none;
	box-shadow:0 -1px rgba(0,0,0,.5) inset;
	transition:background .3s;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

ul.dds-channel-submenu li a:hover {
	background:#232930;
	color: #38a3af;
}

/*BLOG*/
.blog-post-short-wrapper {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	border-radius: 3px;
	margin: 3em;
}
.blog-post-short {
	padding: 2em;
}
.blog-header-content {
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
	height: 100%;
	bottom: 0;
	background: #fff;
	padding: 3em 25em 2em 10em;
}
.blog-header-profile {
	margin-left: 120px;
}
.blog-header-profile-text {
	padding-top: 1em;
}
.blog-header-tabs-wrapper {
	padding-top: 1em;
}
.blog-header-tabs li {
	display: inline;
	padding-right: 1em;
}
.blog-user-icon {
	float: left;
}
.blog-header-comments {
	float: right;
}