/* THIS IS FILE IN DDS DIRECTORY */
/*
 * @font-face {
 *    font-family: 'ralewaylight';
 *    src: url('raleway-light-webfont.eot');
 *    src: url('raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
 *         url('raleway-light-webfont.woff2') format('woff2'),
 *         url('raleway-light-webfont.woff') format('woff'),
 *         url('raleway-light-webfont.ttf') format('truetype'),
 *         url('raleway-light-webfont.svg#ralewaylight') format('svg');
 *    font-weight: normal;
 *    font-style: normal;
 *
 * }
 */
html { 
	position: relative;
	min-height: 100%;
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body.blog {
	font: .8em 'ralewaylight', sans-serif;
	line-height: 1.4em;
	letter-spacing: .03em;
	padding: 0;
	margin: 0 0 0 0;
	overflow-x: hidden;
	background-color: #f3f6f8;
	color: #1c2227;
	background: url("morphis://.dds/images/sayagata-400px.png");
	background-attachment: fixed;
}
body.dds {
	font: .8em 'ralewaylight', sans-serif;
	line-height: 1.4em;
	letter-spacing: .03em;
	padding: 0;
	margin: 0 0 0 0;
	overflow-x: hidden;
	background-color: #f3f6f8;
	color: #1c2227;
	min-height: 100%;
	height: 100%;
}
.blog a {
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
}
.dds a {
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
}
h1 {
	font-size: 3em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
}
h2 {
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: .07em;
	text-transform: uppercase;
}
h3 {
	font-size: 2em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
}
hr.style1 {
	border: 0;
	border-bottom: 1px dashed #ccc;
}
hr.style2 {
	height: 6px;
	background: url("morphis://.dds/images/hr-11.png") repeat-x 0 0;
	border: 0;
}
hr.style12 {
	height: 6px;
	background: url("morphis://.dds/images/hr-12.png") repeat-x 0 0;
	border: 0;
	opacity: .5;
}
hr.thin-line {
	border-bottom: 1px solid #fff;
	opacity: .1;
	margin: 1em 0;
}
iframe {
	border: 0;
}
.dds-body-bkg {
	background-color: #edeeee;
}
.dds-wrapper {
}
/*.dds-channel-wrapper {
	margin: 0 20px 0 20px;
} */
.dds-trunc {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}



/*dds header*/


.dds-header-dash-icon {
	background-color: #1c2227;
	width: 9em;
	color: #fff;
	height: 100%;
	float: left;
	font-size: .35em;
	line-height:1.6em;
	text-align: center;
	padding-top: 3em;
	padding-left: 2em;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	display: block;
	margin-left:-10px;
}
.dds-header-dash-icon:hover {
	margin-left: 0px;
	background-color: #3b3e43;
	display: block;
}
.dds-channel-hash {
	color: #3b3e43;
	float: left;
	font-size: 1.5em;
}
.dds-channel-header {
	background-color: #161a1e;
	height: 2em;
}


/*dds status bar*/

.dds-channel {
	font-weight: bold;
	max-width: 50%;
	display: inline-block;
	vertical-align: top;
}
.dds-username{
	color: #38a3af;
}
.dds-statusbar {
	height: 30px;
	background-color: #371f44;
	color: #fff;
	padding: 7px 20px 7px 20px;
	white-space: nowrap;
}
.dds-statusbar a {
	text-decoration: none;
	font-weight: bold;
}
.dds-statusbar a:link, a:visited {
	color: #38a3af;
}
.dds-statusbar a:hover {
	color: #fff;
}


/*dds reply footer*/

.dds-reply-accesskey-text {
	color: #725880;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 15px;
	font-size: .9em;
	font-style: italic;
	display: inline-block;
}
.dds-reply-top {
	height: 3.5em;
}
.dds-reply-id {
	font-size: 0.75em;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 20%;
	color: #fff;
	white-space: nowrap;
	float: left;
}
.dds-reply-text {
	color: #fff;
	margin: .7em 0 .5em 0;
	float: left;
	font-size: .9em;
	max-width: 30%;
}
.dds-reply-wrapper {
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	height: 165px;
	width: 100%;
	padding: 14px 20px 7px 20px;
	background-color: #371f44;
}
.dds-reply-user-icon {
	float: left;
	height: 55px;
	vertical-align:top;
}
.dds-reply-content {
	padding-left: 6em;
	width: 90%;
}
.dds-reply-input {
}
.dds-message {
}
.dds-text-area-wrapper {
	width: 100%;
}
.dds-message textarea {
	padding:8px;
	width: 100%;
	border: 1px solid #371f44;
	border-radius: 4px;
	font: 11px 'ralewaylight', sans-serif;
}
input[type="text"]:focus, textarea:focus {
	outline: medium none;
	border: 1px solid #39a3af;
	box-shadow: 0px 0px 2px 1px rgba(56, 163, 175, 0.9) inset;
}
.dds-message li {
	white-space: nowrap;
	list-style: none;
}
.dds-message input {
	height:2em;
	width: 90%;
	border: 1px solid #371f44;
	border-radius: 4px;
	padding-left: 10px;
	font: 11px 'ralewaylight', sans-serif;
}
.dds-reply-button-wrapper {
	padding-top: .5em;
	float: right;
	white-space: nowrap;
}
button.dds-reply-button {
	vertical-align: top;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	padding: 3px 10px;
	text-align: center;
	transition: opacity 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s ;
	transition: all ease 0.5s ;
}
button.dds-reply-button:hover {
	background: #38a3af;
	cursor: pointer;
	color: #fff;
}
button.dds-reply-button:active {
	border: 1px solid;
}


/*dds post*/
.dds-post-hash {
	float: right;
	font-family: monospace;
	font-style: italic;
	font-size: 8pt;
	color: #a2a6ab;
	position: absolute;
	top: .6em;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 10px;
	padding-bottom: 5px;
	right: 0.3em;
}
.dds-post-wrapper {
	padding: .5em 1em .5em 1em;
	position: relative;
	/*height: 100%;*/
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.dds-post-wrapper:hover {
	background-color: #fff;
}
.dds-post-content {
	margin-left: 55px;
	line-height: 1.4em;
}
.dds-post-name {
	display: inline-block;
	font-size: 1em;
	max-width: 25%;
	float: left;
	font-weight: bold;
	height: 15px;
}
.dds-post-name a {
	color: #1c2227;
	text-decoration: none;
}
.dds-post-name a:hover {
	color: #38a3af;
}
.dds-post-title {
	display: inline-block;
	font-weight: 100;
	font-size: 1em;
	color: #1c2227;
	text-decoration: none;
	height: 1em;
	float: left;
}
.dds-post-title a {
	font-weight: bold;
}
.dds-post-title a:hover {
	text-decoration: underline;
}
.dds-post-name a {
	color: #1c2227;
	text-decoration: none;
}
.dds-post-name a:link {
	color: #1c2227;
}
.dds-post-name  a:visited {
	color: #1c2227;
}
.dds-post-name a:hover {
	color: #38a3af;
}
.dds-post-time {
	font-size: .9em;
	color: #a2a6ab;
	display: inline-block;
	font-style: italic;
	/*position: absolute;*/
}
.dds-post-reply {
	float: right;
	margin-right: 100px;
}
.dds-post-text {
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.dds-post-text a {
	color: #38a3af;
	text-decoration: none;
}
.dds-post-text a:hover {
	text-decoration: underline;
}
.dds-post-bottom-icons {
	padding: 2px 0 0 0;
	color: #a2a6ab;
}
.dds-vote-current {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:14px;
	height:15px;
	background-position: -76px top;
	float: left;
	margin-top: .1em;
}
.dds-post-icons {
	float: right;
	margin-right: 100px;
}
.dds-post:target {
	background-color: yellow;
}
.dds-post .dds-icon-button {
	visibility: hidden;
}
.dds-post:hover .dds-icon-button {
	visibility: visible;
}
.dds-reply {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:17px;
	height:15px;
	float: left;
	background-position: left top;
}
.dds-reply:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-vote {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	float: left;
	background-position: -76px top;
}
.dds-vote:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-mention {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	float: left;
	background-position: -40px top;
	margin-left: 5px;
}
.dds-mention:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-dmail {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:18px;
	height:15px;
	float: left;
	background-position: right top;
	margin-left: 5px;
}
.dds-dmail:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-follow {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:16px;
	height:15px;
	float: left;
	background-position: -58px top;
	margin-left: 5px;
}
.dds-follow:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.dds-hidden {
	display: none;
}
.dds-user-icon {
	float: left;
	position: relative;
	padding-left: .3em;
}


/*dds refresh text*/

.dds-refresh-wrapper {
	margin: 3px 20px 10px 20px;
}
.dds-refresh-text {
	font-style: italic;
	font-size: .9em;
	color: #a2a6ab;
	padding: 10px 0 10px 0;
}

/* Other.*/
.dds-element {
	padding:8px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	font-size: 1.2em;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2) inset;
}


/*modal*/

.modalDialog-dmail {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	display: none;
}
.modalDialog-dmail:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog-dmail > div {
	width: 80%;
	height: 85%;
	position: relative;
	margin: 3% auto;
	padding: 20px 20px 10px 20px;
	border: 1px solid #a3a3a3;
	border-radius: 4px;
	box-shadow: 0 0 5px #3b3e43;
	-o-box-shadow: 0 0 5px #3b3e43;
	-webkit-box-shadow: 0 0 5px #3b3e43;
	-moz-box-shadow: 0 0 5px #3b3e43;
	background: #fff;
}
.close {
	border: 1px solid #a3a3a3;
	line-height: 25px;
	position: absolute;
	right: 3.5em;
	text-align: center;
	top: 2em;
	width: 28px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
a.close {
	color: #a3a3a3;
}
.close:hover {
	background: #38a3af;
	color: #fff;
}


/*User Dropdown*/
/*Style for the first level menu bar*/
ul.dds-menu {
	position:fixed;
	top:0;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	float: left;
	margin-right: 1em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	max-width: 55%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
ul.dds-menu > li {
	float:left;
	list-style-type:none;
	width: 100%;
}
ul.dds-menu:hover {
	color: #38a3af;
	background: #371f44;
}
label.dds-menu-input {
	position:relative;
	display:block;
	padding:0 18px 0 12px;
	line-height:2.5em;
	transition:background 0.3s;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

label.dds-menu-input:after {
	content:"";
	position:absolute;
	display:block;
	top:50%;
	right:5px;
	width:0;
	height:0;
	border-top:4px solid rgba(255,255,255,1);
	border-bottom:0 solid rgba(255,255,255,1);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	transition:border-bottom .1s, border-top .1s .1s;
}

input.dds-menu-input:checked ~ label.dds-menu-input:after {
	border-top:0 solid rgba(255,255,255,1);
	border-bottom:4px solid rgba(255,255,255, 1);
	transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.dds-menu-input {
	display:none
}

/*show the second level menu of the selected voice*/
input.dds-menu-input:checked ~ ul.dds-submenu {
	max-height: 300px;
	max-width: 100%;
	min-width: 300px;
	transition: max-height 0.2s ease-in;
	max-height: 95px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 999;
}

/*style for the second level menu*/
ul.dds-submenu {
	max-width: 85%;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	background: #26162f;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	position: absolute;
	min-width: 100%;
	transition:max-height 0.10s ease-out;
	-webkit-transition: max-height 0.10s ease-in-out;
	-moz-transition: max-height 0.10s ease-in-out;
	transition: max-height 0.10s ease-in-out;
}

ul.dds-submenu li {
	max-width: 100%;
}

ul.dds-submenu li a {
	max-width: 100%;
	display: block;
	padding: 12px;
	color: #ddd;
	text-decoration: none;
	box-shadow: 0 -1px rgba(0,0,0,.5) inset;
	transition: background .3s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.dds-submenu li a:hover {
	background:#371f44;
	color: #38a3af;
}
/*Channel Dropdown*/
/*Style for the first level menu bar*/
.dds-header-wrapper ul.dds-channel-menu {
	position: fixed;
	top: 0;
	/*height: 100%;*/
	border: none;
	color: #fff;
	/*float: left;*/
	/*margin-right: 1em;*/
	margin-left: .7em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 70%;
	font-size: 1.5em;
	font-weight: 100;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	background: #1c2227;
}
ul.dds-channel-menu > li {
	float:left;
	list-style-type:none;
	width: 100%;
}
ul.dds-channel-menu:hover {
	color: #38a3af;
}
label.dds-channel-menu-input {
	position:relative;
	display:block;
	padding:0 22px 0 0;
	line-height:2.6em;
	transition:background 0.3s;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

label.dds-channel-menu-input:after {
	content:"";
	position:absolute;
	display:block;
	top:50%;
	right:5px;
	width:0;
	height:0;
	border-top:4px solid rgba(255,255,255,1);
	border-bottom:0 solid rgba(255,255,255,1);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	transition:border-bottom .1s, border-top .1s .1s;
}

input.dds-channel-menu-input:checked ~ label.dds-channel-menu-input:after {
	border-top:0 solid rgba(255,255,255,1);
	border-bottom:4px solid rgba(255,255,255, 1);
	transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.dds-channel-menu-input {
	display: none
}

/*show the second level menu of the selected voice*/
input.dds-channel-menu-input:checked ~ ul.dds-channel-submenu {
	max-height: 300px;
	transition: max-height 0.2s ease-in;
	min-width: 300px;
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 999;
}

/*style for the second level menu*/
ul.dds-channel-submenu {
	max-width:85%;
	max-height:0;
	padding:0;
	overflow:hidden;
	list-style-type:none;
	background:#1c2227;
	box-shadow:0 0 1px rgba(0,0,0,.3);
	transition:max-height 0.10s ease-out;
	position:absolute;
	min-width:100%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.10s ease-in-out;
	font-size: .8em;
}

ul.dds-channel-submenu li {
	max-width: 100%;
}

ul.dds-channel-submenu li a {
	max-width: 100%;
	display:block;
	padding:10px;
	color:#ddd;
	text-decoration:none;
	box-shadow:0 -1px rgba(0,0,0,.5) inset;
	transition:background .3s;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

ul.dds-channel-submenu li a:hover {
	background:#232930;
	color: #38a3af;
}

/*BLOG*/
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/*.blog-post-content p, .blog-header-profile-text p {
 * margin: 0 0 .7em 0;
 } *
 .blog-post-content p:last-child, .blog-header-profile-text p:last-child {
 margin-bottom: 0;
 }*/
.blog-post-content a {
	color: #38a3af;
	text-decoration: none;
}
.blog-post-content h3 {
	padding: .5em 0;
}
.blog-post-content a:hover {
	text-decoration: underline;
	/*background-color: #eee;*/
}
.dds-blog-post-wrapper {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	border-radius: 5px;
	margin: 1em 1em;
	color: #1c2227;
}

.blog-post-short {
	padding: 1.5em;
}
.blog-header-content-wrapper {
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
	height: 145px;
	bottom: 0;
	background: #fff;
}
.blog-header-profile {
	margin-left: 130px;
}
.blog-header-profile-text {
	padding: 0 0 .7em 0;
	color: #fff;
}
.blog-header-tabs-wrapper {
	padding-top: 1.5em;
}
.blog-header-tabs-text li {
	display: inline;
	padding-right: 1em;
}
.blog-header-tabs-button li {
	display: inline;
	padding: 0 0 0 1em;
	top: 5em;
}
.blog-user-icon-header {
	float: left;
	padding: 1em 2em 0 1em;
}
.blog-post-user-icon {
	float: left;
	margin-right: 8px;
	margin-top: 2px;
}
.blog-header-comments {
	float: right;
}
.blog-post-top-wrapper {
	margin-top: .65em;
	margin-bottom: 1em;
	height: 35px;
}
.blog-post-top {
}
.blog-post-author {
	padding-bottom: .1em;
}
.blog-header-tabs-button a {
	vertical-align: top;
	background-color: transparent;
	border: 1px solid #38a3af;
	border-radius: 25px;
	color: #38a3af;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
}
.blog-header-tabs-button a:hover {
	background: #38a3af;
	color: #fff;
}
.blog-header-tabs-text {
	margin-top: 10px;
}
.blog-header-tabs-text a {
	color: #fff;
	padding: 15px 8px 0 0;
	text-decoration: none;
	opacity: .5;
	font-weight: bold;
	font-size: 1em;
}
.blog-header-tabs-text a:hover {
	color: #38a3af;
	opacity: 1;
}
.blog-header-nav h1 {
	font-size: 3em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: .3em;
}
.blog-header-nav h1 a {
	color: #fff;
	text-decoration: none;
}
.blog-header-nav h1 a:hover {
	color: #38a3af;
}
.blog-post-short h1 {
	font-size: 2.2em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
}
.blog-post-top a {
	text-decoration: none;
}
.blog-post-short a {
	text-decoration: none;
}
.blog-post-short h1 a {
	color: #38a3af;
}
.blog-post-short h1 a:hover {
	color: #1c2227;
}
.blog-post-top a {
	color: #38a3af;
}
.blog-post-top a:hover {
	color: #1c2227;
}
.blog-post-user {
	line-height: 1.5em;
	white-space: nowrap;
}
.blog-post-user a {
	font-weight: bold;
}
.blog-post-user-navy a {
	font-weight: bold;
	color: #1c2227;
	text-decoration: none;
}
.blog-photo-post-wrapper2 {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	border-radius: 3px;
	width: 600px;
	margin: 0 auto;
}
.blog-photo-post-short2 {
}
.blog-photo-post-text2 {
	padding: 1em 2em;
}
.blog-read-more {
	padding-top: .5em;
}
.blog-read-more a {
	color: #a2a6ab;
	font-style: italic;
}
.blog-read-more a:hover {
	color: #1c2227;
	font-style: italic;
	text-decoration: none;
}
.blog-post-likes {
	padding-bottom: 1em;
	font-weight: bold;
}
.blog-photo-post-short2 a {
	text-decoration: none;
	font-weight: bold;
}
.blog-photo-post-short2 a:link {
	color: #38a3af;
}
.blog-photo-post-short2 a:visited {
	color: #38a3af;
}
.blog-photo-post-short2 a:hover {
	color: #1c2227;
}
a.blog-photo-post-tags2 {
	font-weight: normal;
}
.blog-post-id {
	float: right;
	font-family: monospace;
	font-style: italic;
	font-size: 8pt;
	color: #a2a6ab;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	clear: both;
	margin-top: 15px;
}
.blog-post-id a {
	color: #a2a6ab;
}
.blog-post-id a:hover {
	text-decoration: underline;
}
.blog-photo-full img {
	width: 100%;
	height: 300px;
}
.blog-photo-full-header {
	padding-bottom: 1em;
}
.blog-photo-full-header img {
	width: 100%;
	height: 300px;
}
.blog-photo-full {
	padding: 1em 0;
}
.blog-photo-small-right {
}
.blog-photo-small-right img{
	max-width: 48%;
	max-height: 100%;
	float: right;
	margin: 1em 0 1em 1.5em;
	border-radius: 5px;
}
.blog-photo-small-left {
}
.blog-photo-small-left img{
	max-width: 48%;
	max-height: 100%;
	float: left;
	margin: 1em 1.5em 1em 0;
	border-radius: 5px;
}
.blog-photo-small-left-header {
}
.blog-photo-small-left-header img{
	max-width: 48%;
	max-height: 100%;
	float: left;
	margin: 0 1.5em 1em 0;
	border-radius: 5px;
}
.blog-clear-div {
	clear: both;
}
.object-fit_cover {
	object-fit: cover;
}
.blog-photo-full img[class] {
	width: 100%;
	border-radius: 5px;
}
.blog-photo-full-header img[class] {
	width: 100%;
	border-radius: 5px;
}
.blog-post-reply {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:17px;
	height:15px;
	float: left;
	background-position: left top;
}
.blog-post-reply:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.blog-post-upvote {
	background-image: url("morphis://.dds/images/icons-vote.png");
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	background-position: left top;
	margin: 2px auto 4px auto;
}
.blog-post-upvote:hover {
	background-image: url("morphis://.dds/images/icons-vote-color.png");
}
.blog-post-flag {
	background-image: url("morphis://.dds/images/icons-vote.png");
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	background-position: left bottom;
	margin: 4px auto 0 auto;
}
.blog-post-flag:hover {
	background-image: url("morphis://.dds/images/icons-vote-color.png");
}
.blog-post-icons {
	float: left;
	margin-right: 5px;
}
.blog-post-reply {
	background-image: url("morphis://.dds/images/icons.png");
	background-repeat: no-repeat;
	width:17px;
	height:15px;
	background-position: left top;
}
.blog-post-reply:hover {
	background-image: url("morphis://.dds/images/icons-hover-color.png");
}
.blog-post-vote {
	text-align: center;
	float: left;
	margin-right: 12px;
	padding-right: 12px;
}
.post-grey-text {
	color: #a2a6ab;
}
.post-grey-text-sm {
	color: #a2a6ab;
	font-size: .85em;
}
.blog-post-header-left {
	float: left;
	width: 60%;
}
.blog-post-header-right {
	float: right;
	width: 110px;
}
.blog-post-header-wrapper {
	width: 100%;
	height: 70px;
}
.blog-post-title {
	font-size: 2.2em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
	max-width: 700px;
}
.blog-post-title a {
	color: #1c2227;
}
.blog-post-title a:hover {
	color: #38a3af;
}
.blog-header-right {
	float: right;
	margin: 2em 2em 1.5em 0;
}
.blog-comment-bubble {
	position: relative;
	background-color: #1e2329;
	padding: 4px 8px;
	text-align: center;
	border-radius: 3px;
	float: right;
	font-size: 1em;
	margin-right: 15px;
	opacity:1;
	transition: opacity 0.5s;
	color: #f28182;
}
.blog-comment-bubble:hover {
	opacity:.75;
	transition: opacity 0.5s;
	color: #fff;
}
.blog-comment-bubble a {
	text-decoration: none;
}
.blog-comment-bubble a:hover {
	opacity:1;
	transition: opacity 0.5s;
}
span.blog-comment-bubble::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 0;
	border-color: #1e2329 transparent transparent transparent;
}
.post-vertical-line {
	border-right: 1px solid #e6e6e6;
}
.blog-header-profile h1 {
	font-size: 3em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
}
.blog-post-title-fullpg {
	font-size: 2.5em;
	font-weight: 100;
	letter-spacing: .05em;
	line-height:1em;
	margin: 0;
	text-transform: uppercase;
}
.blog-post-title-fullpg a {
	color: #1c2227;
}
.blog-post-title-fullpg a:hover {
	color: #38a3af;
}
.blog-anaglyph-text {
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: none;
	z-index: auto;
	width: auto;
	height: auto;
	position: static;
	cursor: default;
	opacity: 1;
	margin: 0;
	padding: 0;
	overflow: visible;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	font: normal 50px/normal "Chau Philomene One", Helvetica, sans-serif;
	color: rgb(51, 51, 51);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}
.blog-inset-text {display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: none;
	z-index: auto;
	width: auto;
	height: auto;
	position: static;
	cursor: default;
	opacity: 1;
	margin: 0;
	padding: 0;
	overflow: visible;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	font: normal 70px/1 "Aladin", Helvetica, sans-serif;
	color: rgba(48,48,48,1);
	text-align: center;
	text-transform: normal;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: pre;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}
.blog-relief-text {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal normal 400 84px/normal "Mrs Sheppards", Helvetica, sans-serif;
	color: rgb(224, 239, 242);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgb(58, 80, 217);
	text-shadow: -6px 3px 0 rgb(58,80,217) , -11px 7px 0 rgb(10,14,39) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.relief:hover {
	text-shadow: 6px 3px 0 rgb(58,80,217) , 11px 7px 0 rgb(10,14,39) ;
}
.blog-header-nav {
	margin-left: 100px;
}
.blog-header-content {
	/*padding: .2em 3.5em 1.3em 0;*/
	background: #1c2227;
	height: 100%;
}
.blog-header-content-wrapper-before {
	background: url("morphis://.dds/images/art2.png");
	height: 20px;
	background-size: 800px 100%;
	-webkit-background-size: 800px 100%;
	-moz-background-size: 800px 100%;
}
.blog-author-current {
	background: #161a1e;
	padding: .3em;
	height: 29px;
	border-bottom: 1px dotted #3b3e43;
	color: #5A5A5A;
	/*font-style: italic;*/
}
.blog-author-current a {
	text-decoration: none;
	color: #7B7B7B;
	font-style: normal;
}
.blog-author-current a:hover {
	color: #fff;
}
.blog-center-text {
	vertical-align: middle;
}
.blog-author-current-right {
	float: right;
	padding: 0 1em 0 0;
}
.blog-header-global-settings {
	float: left;
	background: url("morphis://.dds/images/global-settings.png");
	height: 20px;
	width: 20px;
	margin-left: .9em;
	opacity: .7;
}
.blog-header-settings {
	float: left;
	background: url("morphis://.dds/images/settings2.png");
	height: 20px;
	width: 20px;
	margin-left: .9em;
	opacity: .7;
}
.blog-header-global-settings:hover {
	opacity: 1;
	transition: opacity 0.5s;
}
.blog-header-settings:hover {
	opacity: 1;
	transition: opacity 0.5s;
}
.blog-comment-bubble-header {
	position: relative;
	background-color: #858585;
	padding: 2px 4px;
	text-align: center;
	border-radius: 2px;
	font-size: .8em;
	margin-left: 1em;
	opacity:.5;
	transition: opacity 0.5s;
	color: #141c30;
}
.blog-comment-bubble-header:hover {
	opacity:1;
	transition: opacity 0.5s;
	/*color: #fff;*/
}
.blog-comment-bubble-header a {
	text-decoration: none;
}
.blog-comment-bubble-header a:hover {
	opacity:1;
	transition: opacity 0.5s;
}
span.blog-comment-bubble-header::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 0;
	border-color: #858585 transparent transparent transparent;
}
.blog-post-user-icon-author {
	float: left;
	padding: 0 1em 0 1em;
	opacity: .5;
	transition: opacity 0.5s;
}
.blog-post-user-icon-author:hover {
	opacity: 1;
}
.blog-comment-wrapper-reply {
	padding: 7px 20px 7px 40px;
	position: relative;
	/*height: 100%;*/
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.blog-comment-wrapper-reply:hover {
	background-color: #fff;
}
.dds-profile-vote-wrapper {
	bottom: 0;
	height: 20px;
	width: 100%;
	margin-top: 1em;
}
.dds-profile-upvote {
	background-image: url("morphis://.dds/images/icons-vote.png");
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	background-position: left top;
	margin: 0 .5em 0 0;
	float: left;
	opacity: .3;
	cursor: pointer;
}
.dds-profile-upvote:hover {
	background-image: url("morphis://.dds/images/vote3-color.png");
	opacity: 1;
}
.dds-profile-flag {
	background-image: url("morphis://.dds/images/icons-vote.png");
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	background-position: left bottom;
	margin: 0 0 0 .5em;
	float: left;
	opacity: .3;
	cursor: pointer;
}
.dds-profile-flag:hover {
	background-image: url("morphis://.dds/images/vote3-color.png");
	opacity: 1;
}
.dds-profile-grey-text {
	color: #a2a6ab;
	float: left;
	margin-top: .1em;
	opacity: .4;
}
.dds-post-upvote {
	background-image: url("morphis://.dds/images/vote3.png");
	background-size: 18px;
	background-repeat: no-repeat;
	width:15px;
	height:8px;
	background-position: -2px -5px;
	/*margin: 2px auto 4px auto;*/
}
.dds-post-upvote:hover {
	background-image: url("morphis://.dds/images/vote3-color.png");
}
.dds-post-flag {
	background-image: url("morphis://.dds/images/vote3.png");
	background-size: 18px;
	background-repeat: no-repeat;
	width:12px;
	height:10px;
	background-position: -2px -22px;
	/*margin: 4px auto 0 auto;*/
}
.dds-post-flag:hover {
	background-image: url("morphis://.dds/images/vote3-color.png");
}
/*.dds-post-upvote {
 * width: 20px;
 } *
 .dds-post-upvote::before {
 position: relative;
 top: .55em;
 content: "";
 display: inline-block;
 width: 0.6em;
 height: 0.6em;
 border-right: 0.2em solid #a2a6ab;
 border-top: 0.2em solid #a2a6ab;
 transform: rotate(320deg);
 float: left;
 margin-right: .8em;
 cursor: pointer;
 }
 .dds-post-upvote:hover::before {
 border-color: #38a3af;
 }
 .dds-post-flag::before {
 position: absolute;
 top: 4.09em;
 content: "";
 display: inline-block;
 width: 1em;
 height: 1em;
 border-right: 0.2em solid #a2a6ab;
 transform: rotate(315deg);
 float: left;
 cursor: pointer;
 }
 .dds-post-flag::after {
 position: absolute;
 top: 4.09em;
 left: 8.09em;
 content: "";
 display: inline-block;
 width: 1em;
 height: 1em;
 border-left: 0.2em solid #a2a6ab;
 transform: rotate(45deg);
 float: left;
 cursor: pointer;
 }
 .dds-post-flag:hover::before {
 border-color: #38a3af;
 }
 .dds-post-flag:hover::after {
 border-color: #38a3af;
 }*/
/*.dds-post-flag::before {
 * position: relative;
 * top: .08em;
 * content: "✕";
 * float: left;
 * cursor: pointer;
 * width: .5em;
 * height: .5em;
 * font-size: 1.38em;
 * margin-left: .3em;
 } *
 .dds-post-flag:hover::before {
 color: #38a3af;
 }*/

.dds-post-vote-grey-text {
	color: #a2a6ab;
	float: left;
	margin-top: .1em;
	display:inline-block;
}
.blog-author-approved {
	position: relative;
	z-index: 1;
	right: 7px;
	top: 5px;
}
.dds-post-profile-wrapper-author {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(56, 163, 175,.3);
	border-radius: 5px;
	margin: 1.5em 3em;
	color: #1c2227;
	background: #E6F6F7;
}
.profile-comment-bubble-header {
	position: relative;
	background-color: #38a3af;
	padding: 4px 8px;
	text-align: center;
	border-radius: 3px;
	float: right;
	font-size: 1em;
	margin-left: 1.2em;
	margin-top: -5px;
	opacity:1;
	transition: opacity 0.5s;
	color: #fff;
}
.profile-comment-bubble-header:hover {
	opacity:.75;
	transition: opacity 0.5s;
	color: #fff;
}
.profile-comment-bubble-header a {
	text-decoration: none;
}
.profile-comment-bubble-header a:hover {
	opacity:1;
	transition: opacity 0.5s;
}
span.profile-comment-bubble-header::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 0;
	border-color: #38a3af transparent transparent transparent;
}
.dds-approve-wrapper {
	float: left;
	margin: .15em .5em 0 .5em;
}
.dds-approve-user {
	background-image: url("morphis://.dds/images/check3.png");
	background-size: 15px;
	height: 15px;
	width: 15px;
	float: left;
}
.dds-approve-msg {
	background-image: url("morphis://.dds/images/check3.png");
	background-size: 15px;
	height: 15px;
	width: 15px;
	float: left;
	margin-left: .5em;
}
.dds-approve-user:hover {
	background-image: url("morphis://.dds/images/check3.png");
}
.dds-approve-msg:hover {
	background-image: url("morphis://.dds/images/check3.png");
}
.dds-post-vote {
	text-align: center;
	float: left;
}
.score-color {
	background: #DBD9A8;
}

/* DASHBOARD */

/*.navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	background: #1c2227;
}

.nav-item {
	width: 200px;
	border-top: 1px solid #1c2227;
	border-bottom: 1px solid #000;
}
.nav-item a {
	display: block;
	padding: 1em;
	background: #1c2227;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	transition: color 0.2s, background 0.5s;
}
.nav-item a:hover {
	color: #c74438;
}

.site-wrap {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	background-color: #f3f6f8;
	position: relative;
	top: 0;
	bottom: 100%;
	float: right;
	right: 0;
	z-index: 1;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
	position: fixed;
	left: 13px;
	top: 15px;
	z-index: 2;
	height: 20px;
	width: 5px;
	cursor: pointer;
	background-image: url("morphis://.dds/images/dots.png");
	background-repeat: no-repeat;
	background-size: contain;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.nav-trigger + label, .site-wrap {
}
.nav-trigger:checked + label {
	left: 215px;
}
.nav-trigger:checked ~ .site-wrap {
	min-width: calc(100% - 200px);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	width: calc(100% - 200px);
}
.nav-trigger:checked + label {
	left: 215px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}*/
/*.dds-header-dash-icon {
	width: 9em;
	color: #fff;
	height: 100%;
	float: left;
	font-size: .35em;
	line-height:1.6em;
	text-align: center;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	display: block;
	margin-left:-10px;
}
.dds-header-dash-icon:hover {
	margin-left: 0px;
	background-color: #3b3e43;
	display: block;
}*/
.dds-header-wrapper {
	height: 4em;
	background-color: #1c2227;
}
.main-header {
	padding: 0 0 0 20px;
	position: fixed;
	width: 100%;
	left: 0;
	transition: all 0.3s ease;
}
.icon a {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	font-size: .35em;
	line-height:1.6em;
	text-align: center;
	background-color: #1c2227;
	height: 100%;
	width: 6em;
	padding-top: 15px;
	text-decoration: none;
/*	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
	display: block;
	margin-left:-10px;
	float: left;*/
}
.icon a:hover {
	margin-left: 0px;
	background-color: #3b3e43;
	display: block;
}
.page-wrap {
	float: right;
	width: 100%;
	transition: width 0.3s ease;
}

.site-nav {
	position: fixed;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #1c2227;
	overflow-y: auto;
	transition: width 0.3s ease;
	/*white-space: nowrap;*/
}

.site-nav a {
	color: white;
	text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
	color: #38a3af;
}

.site-nav:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 4px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
	padding: 100px 20px 20px 20px;
	max-width: 900px;
}

.close-menu {
	display: none;
}

#site-nav:target {
width: 25%;
}

#site-nav:target + .page-wrap {
width: 75%;
}

#site-nav:target + .page-wrap .close-menu {
display: block;
}

#site-nav:target + .page-wrap .main-header {
width: 75%;
left: 25%;
}

/* DASHBOARD TABS */

.tabs {
	width: 100%;
	float: none;
	list-style: none;
	padding: 0;
}
.tabs:after {
	content: '';
	display: table;
	clear: both;
}
.tabs input[type=radio] {
	display:none;
}
.tabs > label {
	display: block;
	float: left;
	width: 33.3333%;
	color: #606467;
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	line-height: 3;
	cursor: pointer;
	-webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
	transition: all 0.5s;
	background: #171C20;
}
/*.tab-shadow {
	-webkit-box-shadow: 10px 0 5px -2px #000;
	box-shadow: 5px 0px 5px -5px #000;
	height: 10px;
}*/
.tabs label span {
	display: none;
}
.tabs label i {
	padding: 5px;
	margin-right: 0;
}
.tabs > label:hover {
	color: #38a3af;
	background-color: #191F24;
}
.tab-content {
	display: none;
	width: 100%;
	float: left;
	padding: 15px;
	color: #fff;
}
.tab-content * {
	/*-webkit-animation: all 0.7s ease-in-out;
	-moz-animation: all 0.7s ease-in-out;
	animation: all 0.7s ease-in-out;*/
}
/*@keyframes scale {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	50% {
		transform: scale(1.01);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}*/
.tabs [id^="tab"]:checked + label {
	background: #1c2227;
	color: #606467;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
display: block;
}
@media (min-width: 768px) {
	.tabs i {
		padding: 5px;
		margin-right: 10px;
	}
	.tabs label span {
		display: inline-block;
	}
	.tabs {
		max-width: 750px;
		top: 0;
	}
}

/* DASHBOARD STYLES */

.dashboard-active-user, .dashboard-active-user a {
	font-weight: bold;
}
.dashboard-inactive-user, .dashboard-inactive-user a {
	color:#606467;
	font-style: italic;
}
.dashboard-active-convo-wrapper {
	padding-top: 1em;
}
.dashboard-active-convo-wrapper li {
	list-style-type: none;
	padding: 0 0 .5em 0;
}
.dashboard-active-convo-title {
	color: #606467;
}
.dashboard-convo-list {
	padding-top: .5em;
	min-width: 20px;
}
.dashboard-icon-chat-group:before {
	content: "#";
	color: #606467;
	padding-right: .3em;
}
.dashboard-icon-chat-group-lock:before {
	content: "\1F512";
	color: #606467;
	padding-right: .3em;
}
.dashboard-icon-chat-blog:before {
	content: "\1F4AC";
	color: #606467;
	padding-right: .3em;
}
.dashboard-user-status-icon-active {
	background: #38a3af;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float: left;
	margin: .3em .5em 0 0;
}
.dashboard-user-self-status-icon-active {
	background: #4CC378;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid #1c2227;
	float: left;
	margin: .3em .5em 0 0;
	position: absolute;
	top: 4.85em;
	left: 2.8em;
}
.dashboard-user-status-icon-active {
	background: #4CC378;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float: left;
	margin: .3em .5em 0 0;
}
.dashboard-user-status-icon-inactive {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #606467;
	float: left;
	margin: .3em .5em 0 0;
}
.dashboard-footer-wrapper {
	min-height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.dashboard-footer, .dashboard-footer-push {
	height: 40px; /* '.push' must be the same height as 'footer' */
	color: white;
	margin-left: 1em;
}
.magnifying-glass {
	font-size: 2.5em; /* This controls the size. */
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border: 0.08em solid white;
	position: relative;
	border-radius: 0.35em;
	margin-right: .4em;
	top: .11em;
	float: left;
	opacity: .2;
}
.magnifying-glass::before {
	content: "";
	display: inline-block;
	position: absolute;
	right: -0.2em;
	bottom: -0.12em;
	border-width: 0;
	background: white;
	width: 0.25em;
	height: 0.08em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.dashboard-search input {
	padding:5px;
	width: 70%;
	border: 1px solid #371f44;
	border-radius: 4px;
	font: 11px 'ralewaylight', sans-serif;
}
input[type="text"]:focus, {
	outline: medium none;
	border: 1px solid #39a3af;
	box-shadow: 0px 0px 2px 1px rgba(56, 163, 175, 0.9) inset;
}

/*Dashboard User Dropdown*/
/*Style for the first level menu bar*/
ul.dashboard-user-menu {
	position: fixed;
	top: 0;
	border: none;
	color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 70%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.15s ease-in-out;
}
ul.dashboard-user-menu > li {
	float:left;
	list-style-type:none;
	width: 100%;
}
ul.dashboard-user-menu:hover {
	color: #38a3af;
}
label.dashboard-user-menu-input{
	position:relative;
	display:block;
	padding:0 22px 0 0;
	transition:background 0.3s;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-weight: 100;
	font-size: 1.5em;
}

label.dashboard-user-menu-input:after {
	content:"";
	position:absolute;
	display:block;
	top:50%;
	right:5px;
	font-size: 1em;
	width:0;
	height:0;
	border-top:4px solid rgba(255,255,255,1);
	border-bottom:0 solid rgba(255,255,255,1);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	transition:border-bottom .1s, border-top .1s .1s;
}

input.dashboard-user-menu-input:checked ~ label.dashboard-user-menu-input:after {
	border-top:0 solid rgba(255,255,255,1);
	border-bottom:4px solid rgba(255,255,255, 1);
	transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.dashboard-user-menu-input {
	display: none
}

/*show the second level menu of the selected voice*/
input.dashboard-user-menu-input:checked ~ ul.dashboard-user-submenu {
	max-height: 300px;
	transition: max-height 0.2s ease-in;
	min-width: 150px;
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 999;
}

/*style for the second level menu*/
ul.dashboard-user-submenu {
	max-width:85%;
	max-height:0;
	padding:0;
	overflow:hidden;
	list-style-type:none;
	background:#161a1e;
	box-shadow:0 0 1px rgba(0,0,0,.3);
	transition:max-height 0.10s ease-out;
	position:absolute;
	min-width:100%;
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	transition: all 0.10s ease-in-out;
	font-size: 1em;
}

ul.dashboard-user-submenu li {
	max-width: 100%;
}

ul.dashboard-user-submenu li a {
	max-width: 100%;
	display:block;
	padding:8px;
	color:#ddd;
	text-decoration:none;
	box-shadow:0 -1px rgba(0,0,0,.5) inset;
	transition:background .3s;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

ul.dashboard-user-submenu li a:hover {
	background:#232930;
	color: #38a3af;
}
.dashboard-user-icon {
	float: left;
	position: relative;
	padding-right: .8em;
	top: -5;
}