
<head>
    <title></title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
</head>
<body>
<div class="dds-reply-wrapper">
		<div class="dds-reply-user-icon"><img src="morphis://.dds/images/user-img-lg.png" height="55px" width="55px"></div>
		<form class="dds-message" action="morphis://.dds/synapse/create" method="post" accept-charset="UTF-8 ISO-8859-1">
			<div class="dds-reply-content">
				<div class="dds-reply-top">
					<input type="hidden" name="csrf_token" id="csrf_token" value="{csrf_token}"/>
					<input type="hidden" name="target_addr" value="{target_addr}"/>
					<input type="hidden" name="ident" value="{ident}"/>
						<ul class="dds-menu">
							<li>
								<input class="dds-menu-input" id="check01" type="checkbox" name="dds-menu"/>
								<label class="dds-menu-input" for="check01">{ident_str}</label>
								<ul class="dds-submenu">
								<li><a href="#">{ident_str}</a></li>
								<li><a href="#">{ident_str}</a></li>
								</ul>
							</li>
							</ul>
							<div class="dds-reply-text">thinks:</div>
				</div>
				<div class="dds-text-area-wrapper"><textarea class="dds-reply-input" autofocus name="content2" id="TITLE" placeholder="Say something..."></textarea></div>
				<div class="dds-reply-button-wrapper"><div class="dds-reply-accesskey-text">(Firefox, IE: [Alt] [Shift] + a) (Chrome, Safari: [Alt] + a)</div><button class="dds-reply-button" accesskey="a"  class="reply" type="submit">SEND</button></div>
			</div>
		</form>
		</div>
</body>
