<div class="dds-blog-post-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">{score}</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#{key}</a></div>
		</div>
		<div class="blog-post-title-fullpg">
			<a href="">blog post</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="dds-post-name dds-trunc"><a href="morphis://.dds/axon/grok/{signing_key}" target="_parent" title="{signing_key}">{signer}</a>
				</div>
				<div class="dds-post-time">{relative_time} ({timestamp})
				</div>
			</div>
		</div>
		<div class="blog-post-content">
			<!--div class="blog-photo-full-header"><img class="object-fit_cover" src="morphis://.dds/images/galaxyglaze.jpg"></div-->
			<!--<div class="blog-photo-small-left-header"><img src="morphis://.dds/images/photo-post-lg.jpeg"></div>-->
			<p>{content}</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
		</div>
	</div>
</div>
