<div class="dds-post-wrapper" style="height:100%">
    <div class="dds-user-icon"><img src="morphis://.dds/images/user-icon3-sm.png"></div>
    <div class="dds-post">
	<div class="dds-post-nav">
	    <div class="dds-post-name"><a href="morphis://.text/{signing_key}" title="{signing_key}">{signer}</a> thought</div>
	    <div class="dds-post-time">on {timestamp}</div>
	    <div class="dds-post-reply"><button class="post" type="submit">&lt;</button></div>
	</div>
	    <div class="dds-post-text">{content}</div>
    </div>
</div>
