<tr class="{contact_tint}">
    <td style="width: 40%" class="name">
		<a class="cell-link" href="morphis://.dmail/addressbook/rename_contact/{idkey}">
            {name}
        </a>
	</td>
    <td style="width: 20%">
		<a class="cell-link" href="morphis://.dmail/addressbook/rename_contact/{idkey}">
            <div class="trunc">{idkey}</div>
        </a>
	</td>
	<td style="width: 5%">
				<a style="display:block" name="submit" href="#openModal{idkey}" target="_self"><div class={del_button_class}></div></a>
<div id="openModal{idkey}" class="modalDialog_delete">
    <div>
<a href="morphis://.dmail/addressbook/list"  title="Close" class="close" target="_self">X</a>
<iframe id="popup" src="morphis://.dmail/addressbook/delete_confirmation/{idkey}/{csrf_token}" height="100%" width="100%"></iframe>
    </div>
	</td>
	<td style="width: 5%"><a href="morphis://.dmail/wrapper/{idkey}/?msg_list=morphis%3A%2F%2F.dmail%2Fcompose%2F{idkey}"><div class="reply-icon-new"></div>
			</a> <!--Clicking this should go to the regular compose message view with the inbox etc in the left iframe-->
	</td>

</tr>
