<!DOCTYPE html>
<html>
<head>
    <base target="_top"/><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css">
    <span class="inbox-head nowrap">Address Book</span>

            <a class="" id="new-address" href="morphis://.dmail/addressbook/create_contact">NEW CONTACT</a>

</head>
<body>
<table class="msg_list" style="width:100%">
 <tr class="table-head">
    <td style="width: 25%; min-width: 10em"><div class="inbox-pad">First</div></td>
    <td style="width: 25%; min-width: 8em"><div class="inbox-pad">Last</div></td>
    <td style="min-width: 14em; width: 50%"><div class="inbox-pad">Identity Key</div></td>
  </tr>