<tr>
    <td class="name">
		<div class="inbox-pad">{first}</div>
	</td>
    <td class="name">
		<div class="trunc">{idkey}</div>
	</td>
	<td>
		<a style="display:block" target="_parent" href="morphis://.dmail/addressbook/rename_contact/{idkey}"><div class=mail-icon></div></a>
	</td>
	<td>
		<a style="display:block" target="_parent" href="morphis://.dmail/addressbook/delete_contact/{idkey}"><div class="trash-icon-new"></div></a>
	</td>
	<td>
		<a style="display:block" target="_parent" href="morphis://.dmail/compose/{idkey}">
			<div class="reply-icon-new">
			</a>
	</td>
<!--    <td style="width: 25%; min-width: 20em"><div class="inbox-pad">{userstar}</div></td>-->
</tr>
</div>

<!--

			-->
		</div>