<tr>
    <td style="width: 25%; min-width: 20em"><div class="inbox-pad">{first}</div></td>
    <td style="width: 25%; min-width: 10em"><div class="inbox-pad">{last}</div></td>
    <td style="min-width: 20em; width: 50%"><div class="inbox-pad">{idkey}</div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_parent" href="morphis://.dmail/compose/{idkey}"><div class="reply-icon-new"></div></a></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_parent" href="morphis://.dmail/addressbook/delete_contact/{idkey}"><div class="trash-icon-new"></div></a></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_parent" href="morphis://.dmail/addressbook/rename_contact/{idkey}"><div class=mail-icon></div></a></div></td>
    <td style="width: 25%; min-width: 20em"><div class="inbox-pad">{userstar}</div></td>
</tr>
