<tr>
    <td style="width: 40%" class="name">
		<div class="inbox-pad">{first}</div>
	</td>
    <td style="width: 20%" class="name">
		<div class="trunc">{idkey}</div>
	</td>
	<td style="width: 5%">
		<a style="display:block"  href="morphis://.dmail/addressbook/rename_contact/{idkey}"><div class=mail-icon></div></a><!--Clicking this should load the rename_contact page in the right iframe, keeping the contacts iframe at the left-->
	</td>
	<td style="width: 5%">
				<a style="display:block" name="submit" href="#openModal2" target="_self"><div class="trash-icon-new"></div></a>
<div id="openModal2" class="modalDialog_delete">
    <div>
<a href="morphis://.dmail/addressbook/list"  title="Close" class="close" target="_self">X</a>
<iframe id="popup" src="morphis://.dmail/addressbook/delete_confirmation/{idkey}" height="100%" width="100%"></iframe>
    </div>
	</td>
	<td style="width: 5%"><a href="morphis://.dmail/wrapper/{idkey}/?msg_list=morphis%3A%2F%2F.dmail%2Fcompose%2F{idkey}"><div class="reply-icon-new"></div>
			</a> <!--Clicking this should go to the regular compose message view with the inbox etc in the left iframe-->
	</td>
<!--  Not sure what this is, let me know if we need it  <td style="width: 25%; min-width: 20em"><div class="inbox-pad">{userstar}</div></td>-->
</tr>