<!DOCTYPE html>
<html><head><base target="_top" /><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css"/></head>
<body class="iframe">
<style type="text/css">
label {
    width: 100%;
    text-align: left;
}
</style>
<div class="address-trunc nowrap"><h4 class="inline_block nomargin">Settings for Dmail Address:&nbsp;</h4><a class="normal reactive_link" href="morphis://.dmail/wrapper/${DMAIL_ADDRESS}">${DMAIL_ADDRESS}</a></div>
<p>NOTE: Difficulty is the anti-spam setting that determines how much work it is to send you a Dmail. Its effect is exponential (work=2^difficulty). Do not set it too low -- I would recommend no lower than 20. If 2^difficulty is lower than the amount of nodes in the network, then the network will likely have trouble finding your Dmails.</p>
<p><b>NOTE</b>: At difficulty=20, sending you a Dmail will take ~30 seconds. A setting of 21 will take 1 minute. At 22, it is 2 minutes, 23 = 4 minutes, 24 = 8 minutes, 25 = 16 minutes, 26 = 32 minutes, 27 = 64 minutes, 28 = 128 minutes, 29 = 256 minutes, and 30 = 512 minutes, Etc. <b>Every 10 that you increase it is 1024x more cpu work for the sender.</b> The maximum value of difficulty=512 will take more time than the lifespan of the universe. If you want to receive Dmails anytime soon, don't increase this value much. Also, there is no point in increasing it unless you are going to publish your address and thus expect to be the target of spam. The times here are a rough guide and depend on the processing capability of the sending computer.</p>
<p><b>NOTE</b>: If you turn this up, you will no longer see any new Dmails that were sent to you while you had the lower setting. This is because they won't include enough work to be found. Dmails stored locally already (Inbox) won't be affected. In a future version of Maalstroom this will be solved. For now it is not, because it will take a bunch more UI to allow you to manage properly, and I want to release ASAP :).</p>
<form action="morphis://.dmail/addr/settings/edit/publish" method="get">
    <input type="hidden" name="dmail_address" id="dmail_address" value="${DMAIL_ADDRESS}"/>
    <p>
        <label for="difficulty">Difficulty</label>
        <input type="textfield" name="difficulty" id="difficulty" value="${DIFFICULTY}"/>
    </p>
    <input type="submit" formtarget="_self" id="publish" value="Republish Dmail Site"/>
</form>
<p>NOTE: Do not give out these values! The site private key controls your Dmail address. The DH secret is the key to decrypting your Dmail.</p>
<form action="save" method="post">
    <p>
        <label for="privatekey">Dmail Site Private Key</label>
        <textarea name="privatekey" id="privatekey" rows="26" cols="80" readonly>${PRIVATE_KEY}</textarea>
    </p>
    <p>
        <label for="x">Private Encryption DH Secret</label>
        <textarea name="x" id="x" rows="4" cols="80" readonly>${X}</textarea>
    </p>
    <p>
        <label for="target_key">Dmail Target Key</label>
        <textarea name="target_key" id="target_key" rows="1" cols="80" readonly>${TARGET_KEY}</textarea>
    </p>
</form>
</body></html>
