<hr/>
<div style="overflow: hidden; text-overflow: ellipsis;"><a class="reactive_link" href="morphis://.dmail/wrapper/{addr}">{addr}</a></div>
<span class="{set_default_class}">
    [<a target="_self" href="morphis://.dmail/make_address_default/{csrf_token}/{addr_dbid}?redirect=morphis%3A%2F%2F.dmail%2Faddress_list" class="normal">set&nbsp;default</a>]
</span>
[<a target="_self" href="morphis://.dmail/set_autoscan/{csrf_token}/{addr_dbid}/{autoscan_interval}?redirect=morphis%3A%2F%2F.dmail%2Faddress_list" class="normal">{autoscan_link_text}</a>]
</div>

