<!DOCTYPE html>
<html><head><title>MORPHiS Maalstroom Dmail Client</title>
<link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css"/>
</head>
<body>
<header>
    <div class="left"><iframe src="morphis://.dmail/logo" height="80px" width="233px"></iframe></div>
    <div class="right"><iframe src="morphis://.dmail/nav/{addr}/{tag}" height="80px" width="100%"></iframe></div>
</header> 
    <aside class="adr_contacts"><iframe src="addressbook_contacts.html" height="100%" width="100%"></iframe></aside>
<div class="adr_wrapper">
    <section><iframe src="addressbook_edit_contacts.html" class="nomargin nopadding" style="height: calc(100% - 1em); width: 100%;"></iframe></section>
</div>
<footer>
    <h5>
        <span>&lt; <a href="morphis://">MORPHiS Dashboard</a></span>
    </h5>
</footer>
</body>
</html>
