<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<form>

	<h1 class="contacts-title">Edit Contact</h1>
	<fieldset id="contacthead">
		<div class="contact-input contact-field">
			<label for="name">Contact Name</label>
			<input placeholder="Contact Name" title="Name" size="32" maxlength="50" name="name" type="text">
		</div>
		<div class="contact-input contact-field">
		<label for="name">Dmail Address</label>
		<input placeholder="Dmail Address" title="Dmail" size="40" maxlength="254" name="dmail" type="text">
		</div>
	</fieldset>
</form>
</body></html>