<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css"/>
</head>
<body>
<div class="contacts">
<h1 class="contacts-title">Contacts</h1>
<table class="listing">
	<iframe src="delete_all_popup.html" height="100%" width="100%"></iframe>

</div>
</table>
<a style="display:block" name="submit" href="#openModal" target="_self"><div id ="contactfooter">Empty Address Book</div></a>
<div id="openModal" class="modalDialog_delete_all">
    <div>
<a href="morphis://.dmail/addressbook/list"  title="Close" class="close" target="_self">X</a>
<iframe id="popup" src="delete_all_popup.html" height="100%" width="100%"></iframe>
    </div>
</div>
</body>
</html>