<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="iframe">
    <p id="mailboxes" class="mailbox-trunc">MAILBOXES FOR samzu1ctt7kscitkrt5jft91gtw5c1i6aiujd6g5qrm13w3peph4kjusp737q5zr1cijr9rwmrcw3sgxf8143kw69zph55s71hcicqa</p>
    <span class="mailbox-list">
	<ul>
	    <li class="inbox-icon" id="active-mailbox"><a href="inbox" style="display:block"><div class="mailbox-pad" >Inbox<div class="inbox-notify">125</div></div></a></li>
	    <li class="sent-icon"><a href="sent" style="display:block"><div class="mailbox-pad">Sent<div class="sent-notify"></div></div></a></li>
	    <li class="drafts-icon"><a href="drafts" style="display:block"><div class="mailbox-pad">Drafts<div class="drafts-notify">125</div></div></a></li>
	</ul>
    </span>
<div class="divider"></div>
    <ul>
	<span class="tag-head">
	<li class="tag-icon"><span class="mailbox-pad"><a class="tags" href="">TAGS<div class="add-tag">+</div></a></span></li>
	</span>
	<span class="tag-list">
	<li class="bullet"><span class="mailbox-pad"><a href="">Tag</a></span></li>
	<li class="bullet"><span class="mailbox-pad"><a href="">Another Tag</a></span></li>
	<li class="bullet"><span class="mailbox-pad"><a href="">Another Tag</a></span></li>
	<li class="bullet"><span class="mailbox-pad"><a href="">Another Tag that is long super long</a></span></li>
	</span>
    </ul>
</body>
</html>
