<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css">
</head>
<body class="iframe">
<span class="inbox-head nowrap">New Message</span>
<div class="right-icons-inner">
    <ul>
	<a href="morphis://.dmail/delete" class="{delete_class}"><div style="display:inline"><li class="nav-delete-icon">DELETE</li></div></a>
    </ul>
</div><br/><br/>
<div class="compose-bkg">
    <div class="staticWidth"><a class="addressbook-icon" href="morphis://.dmail/addressbook/create_contact/{dest_addr}"><button class="addressbook-icon"></button></a>
            <a  class="addressbook-icon" href="#openModal" target="_self"><button class="addressbook-icon"></button></a>
<div id="openModal" class="modalDialog">
    <div>
<a target="_self" href="{dest_addr}" title="Close" class="close">X </a><!--this needs to link to the window before the popup opened-->
<iframe id="popup" src="morphis://.dmail/addressbook/edit_contacts/{dest_addr}" height="100%" width="100%"></iframe>
    </div>
</div>
</div>
<form class="message nowrap" style="height: calc(100% - 2em);" action="morphis://.dmail/compose/make_it_so" method="post" accept-charset="UTF-8 ISO-8859-1">
<ul style="height: calc(100% - 10em);">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{csrf_token}"/>
    <input type="hidden" name="owner_if_anon" value="{owner_if_anon}"/>
    <label for="sender">From</label> 
    <select name="sender" id= "sender" class="from-address">
      {from_addr_options}
    </select>

    <li>
        <label class="to" for="destination">To</label> <!-- Please rename classes to match names. -->
        <input type="text" name="destination" id="destination" value="{dest_addr}" required{dest_addr_autofocus}/>&nbsp;&nbsp;

    </li>
    <li>
	<label for="subject">Subject</label>
	<input type="text" name="subject" id= "subject" value="{subject}"{subject_autofocus}/>
    </li>
     <li style="height:100%">
	<textarea name="content"{message_text_autofocus}>{message_text}</textarea>
    </li>
    <li>
	<button class="submit" type="submit" formtarget="_self" name="submit" value="send">SEND</button>
	<button class="submit" type="submit" formtarget="_self" name="submit" value="draft">SAVE AS DRAFT</button>
    </li>
</ul>
</form><br/><br/>
</div>
</body></html>
