<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css">
</head>
<body class="iframe">
<span class="inbox-head nowrap">New Message</span>
<div class="right-icons-inner">
    <ul>
	<a href="morphis://.dmail/compose"><div style="display:inline"><li class="nav-send-icon">SEND</li></div></a>
	<a href="morphis://.dmail/save"><div style="display:inline"><li class="nav-save-icon">SAVE</li></div></a>
	<a href="morphis://.dmail/delete" class="{delete_class}"><div style="display:inline"><li class="nav-delete-icon">DELETE</li></div></a>
    </ul>
</div><br/><br/>
<div class="compose-bkg">
<form class="message nowrap" action="" method="post" name="message" style="height:100%">
<ul style="height:100%">
    <label for="from">From</label> 
    <select class="from-address">
      {from_addr_options}
      <option value="mpowb5dze7qaypnpakrqxa7xu8sct5awb59o6ngr4eidr8adcaxmze4qweh7nicndmdjm841hhgr4xhg8pio5oitye3mncjdmgsijq1">mpowb5dze7qaypnpakrqxa7xu8sct5awb59o6ngr4eidr8adcaxmze4qweh7nicndmdjm841hhgr4xhg8pio5oitye3mncjdmgsijq1</option>
      <option value="w4h6pozqudcixctxahfxb5gdsb1taesbziwe5xidy3qs49wxp1wiqn1fgqhchfktpjgo58s85a9ihjfb4t689q9mr6jo1zgxwm1kts1">w4h6pozqudcixctxahfxb5gdsb1taesbziwe5xidy3qs49wxp1wiqn1fgqhchfktpjgo58s85a9ihjfb4t689q9mr6jo1zgxwm1kts1</option>
    </select>
    <li>
        <label class="to" for="to">To</label>
        <input type="text" name="to">&nbsp;&nbsp;<button class="addressbook-icon" type="submit"></button>
    </li>
    <li>
	<label for="subject">Subject</label>
	<input type="text" name="subject">
    </li>
     <li style="height:100%">
	<textarea id="TITLE"></textarea>
    </li>
    <li>
	<button class="submit" type="submit">SEND</button>
    </li>
</ul>
</form><br/><br/>
</div>
</body></html>
