<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css">
</head>
<body class="iframe">
<span class="inbox-head">{tag}</span>&nbsp; for
<div class="change-address-button"><a href="">change to another address</a></div>
<p class="mailbox-trunc">{addr_enc}</p><br />
<table style="width:100%">
 <tr class="table-head">
    <td></td>
    <td><div class="inbox-pad">SUBJECT</div></td>
    <td><div class="inbox-pad">FROM</div></td>
    <td><div class="inbox-pad">DATE</div></td>
    <td></td>
    <td></td>
  </tr> 
  <tr class="new-mail">
    <td width="12px"><div class="inbox-pad"><a target="_self" href="mark_as_read makes dot go away"><div class="new-mail-icon"></div></a></div></td>
    <td><a href="fetch"><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">re: dmail</span></div></a></td>
    <td><a href="addressbook"><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">Sam samzu1ctt7kscitkrt5jft91gtw5c1i6aiujd6g5qrm13w3peph4kjusp737q5zr1cijr9rwmrcw3sgxf8143kw69zph55s71hcicqa</span></div></a></td>
    <td><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">2015-08-15 20:19:16</span></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_self" href="reply"><div class="reply-icon-new"></div></a></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_self" href="trash"><div class="trash-icon-new"></div></a></div></td>
  </tr> 
  <tr>
    <td></td>
    <td><a href="fetch"><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">interesting email thread</span></div></a></td>
    <td><a href="addressbook"><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">Sam samzu1ctt7kscitkrt5jft91gtw5c1i6aiujd6g5qrm13w3peph4kjusp737q5zr1cijr9rwmrcw3sgxf8143kw69zph55s71hcicqa</span></div></a></td>
    <td><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">2015-08-15 12:23:33</span></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_self" href="reply"><div class="reply-icon"></div></a></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_self" href="trash"><div class="trash-icon"></div></a></div></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="fetch"><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">about:config</span></div></a></td>
    <td><a href="addressbook"><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">Sam samzu1ctt7kscitkrt5jft91gtw5c1i6aiujd6g5qrm13w3peph4kjusp737q5zr1cijr9rwmrcw3sgxf8143kw69zph55s71hcicqa</span></div></a></td>
    <td><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">2015-08-15 12:23:33</span></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_self" href="reply"><div class="reply-icon"></div></a></div></td>
    <td width="15px"><div class="inbox-pad"><a style="display:block" target="_self" href="trash"><div class="trash-icon"></div></a></div></td>
  </tr>
</table>
</body></html>
