<!DOCTYPE html>
<html>
<head>
<base target="_top"/><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css">
{unread_check}
</head>
<body>
<table class="msg_list" style="width:100%">
 <tr class="table-head">
    <td></td>
    <td style="width: 65%; min-width: 20em"><div class="inbox-pad">SUBJECT</div></td>
    <td style="width: 35%; min-width: 8em"><div class="inbox-pad">{addr_heading}</div></td>
    <td style="min-width: 14em; width: 14em"><div class="inbox-pad">DATE</div></td>
    <td></td>
    <td></td>
  </tr> 
