<tr class="{unread}">
  <td width="12px"><div class="inbox-pad"><a target="_parent" href="morphis://.dmail/toggle_read/{csrf_token}/{msg_id}?redirect=morphis%3A%2F%2F.dmail%2Fmsg_list%2F{addr}%2F{tag}"><div class="{mail_icon}"></div></a></div></td>
  <td><a target="_parent" href="morphis://.dmail/read/{addr}/{tag}/{msg_id}"><input class="subject-field" type="text" name="subject" value="{subject}" readonly></a></td>
  <td><a target="_top" href="morphis://.dmail/wrapper/{addr}/{tag}?msg_list=morphis%3A%2F%2F.dmail%2Fcompose%2F{sender}%3fsender={addr}"><div class="inbox-pad"><span class="mailbox-trunc{sender_class}" style="display:block" title="{sender}">{sender}</span></div></a></td>
  <td><div class="inbox-pad"><span class="mailbox-trunc" style="display:block">{timestamp}</span></div></td>
  <td width="15px"><div class="inbox-pad"><a style="display:block" target="_parent" href="morphis://.dmail/compose/{sender}?sender={addr}&subject={safe_reply_subject}"><div class="reply-icon-new"></div></a></div></td>
  <td width="15px"><div class="inbox-pad"><a style="display:block" target="_parent" href="morphis://.dmail/toggle_trashed/{csrf_token}/{msg_id}?redirect=morphis%3A%2F%2F.dmail%2Fmsg_list%2F{addr}%2F{tag}"><div class="trash-icon-new"></div></a></div></td>
</tr> 
