<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="iframe">
<nav>
    <div class="left-icons">
	<a style="display:block" href="refresh"><div class="refresh-block"><div class="refresh"></div></div></a>
	<ul>    

	    <li class="nav-new-icon"><a href="morphis://.dmail/compose">NEW</a></li>
	    <li class="nav-reply-icon"><a href="morphis://.dmail/reply">REPLY</a></li>
	    <li class="nav-delete-icon"><a href="morphis://.dmail/delete">DELETE</a></li>
	    
	</ul>
    </div>
    <div class="right-icons">
	
	<a class="tooltips" id="list-addresses" href="morphis://.dmail/"><span>List addresses</span></a>
	    <a class="tooltips" id="new-address" href="morphis://.dmail/create_address"><span>New address</span></a>
	    <a class="tooltips" id="addressbook" href="morphis://.dmail/address_book"><span>Address Book</span></a>
	    <a class="tooltips" id="settings" href="morphis://.dmail/configure"><span>Settings</span></a>
	    
	    <ul class="mail-wrapper">
	    <li><iframe src="new_mail.html" frameborder="0" height="29" width="29"></iframe></li>
	</ul>

    </div>
</nav>
</body>
</html>