<!DOCTYPE html>
<html>
<head>
<base target="_top" /><link rel="stylesheet" type="text/css" href="morphis://.dmail/style.css">
</head>
<body class="iframe">
<nav>
    <div class="left-icons">
	<a style="display:block" href="morphis://.dmail/refresh/{csrf_token}/{addr}"><div class="refresh-block"><div class="refresh"></div></div></a>
	<ul>    

	    <li class="nav-new-icon"><a href="morphis://.dmail/wrapper/{addr}/{tag}?msg_list=morphis%3A%2F%2F.dmail%2Fcompose%2F%3Fsender={addr}">NEW MESSAGE</a></li>
<!--	    <li class="nav-reply-icon"><a href="morphis://.dmail/reply">REPLY</a></li>
	    <li class="nav-delete-icon"><a href="morphis://.dmail/delete">DELETE</a></li>-->
	    
	</ul>
    </div>
    <div class="right-icons">
	
	<a class="tooltips" id="list-addresses" href="morphis://.dmail/wrapper/{addr}/{tag}?msg_list=morphis%3A%2F%2F.dmail%2Faddress_list"><span>List Addresses</span></a>
	    <a class="tooltips" id="new-address" href="morphis://.dmail/wrapper/{addr}/{tag}?msg_list=morphis%3A%2F%2F.dmail%2Fcreate_address"><span>New Address</span></a>
	    <!--a class="tooltips" id="addressbook" href="morphis://.dmail/address_book"><span>Address Book</span></a-->
	    <a class="tooltips" id="settings" href="morphis://.dmail/wrapper/{addr}/{tag}?msg_list=morphis%3A%2F%2F.dmail%2Faddress_config%2F{addr}"><span>Address Settings</span></a>
	    
	    <ul class="mail-wrapper">
	    <li><iframe src="morphis://.dmail/new_mail" frameborder="0" height="29" width="29"></iframe></li>
	</ul>

    </div>
</nav>
</body>
</html>
