<!DOCTYPE html>
<html><head><title>MORPHiS Maalstroom Dmail Client</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<header>
    <div class="left"><iframe src="logo" frameborder="0" height="80px" width="233px"></iframe></div>
    <div class="right"><iframe src="nav" frameborder="0" height="80px" width="100%"></iframe></div>
</header> 
    <aside><iframe src="aside" frameborder="0" height="100%" width="100%"></iframe></aside>
<div class="wrapper">
    <section><iframe src="msg_list" frameborder="0" height="100%" width="100%"></iframe></section>
</div>
<footer>
    <h5>
        <span>&lt; <a href="morphis://">MORPHiS Dashboard</a></span>
    </h5>
</footer>
</body>
</html>
