<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body class="blog">
	<div class="blog-header-content-wrapper">
		<div class="blog-header-content">
			<div class="blog-header-right">
				<ul class="blog-header-tabs-button">
					<li><a href="">Subscribe</a></li>
					<li><a href="">View User Profile</a></li>
				</ul>
			</div>
			<div class="blog-user-icon-header">
				<img src="morphis://.dds/images/user-img-blog-lg2.png" height="75px" width="75px">
			</div>
			<!--<div class="blog-header-right">
				<a href=""><span class="blog-comment-bubble">30</span></a>
			</div>-->
			<div class="blog-header-nav">
				<h1><a href="">Borp's Food Blog</a></h1>
				<hr class="style12"></hr>
				<ul class="blog-header-tabs-text">
					<li><a href="">About</a></li>
					<li><a href="">Recipes</a></li>
					<li><a href="">Drinks</a></li>
					<li><a href="">Links</a></li>
					<li><a href="">Dmail</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>