<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body class="dds">
<div class="blog-post-short-wrapper-author">
	<div class="blog-post-short">
		<div class="dds-post">
			<div class="dds-user-icon"><img src="morphis://.dds/images/user-img2.png"></div>
			<div class="dds-post-content" style="{style}">
				<div class="dds-post-name dds-trunc"><a href="morphis://.text/{signing_key}" title="{signing_key}">Borp</a></div>
				<div class="dds-post-title">&nbsp;in <a href="">#MORPHiS-dev</a>&nbsp;</div>
				<div class="dds-post-time">{relative_time} ({timestamp})</div>
				<div class="dds-post-icons">
					<a href=""><div class="dds-reply dds-icon-button"></div></a>
					<!--<a href=""><div class="dds-vote dds-icon-button"></div></a>-->
					<!--<a href=""><div class="dds-mention dds-icon-button"></div></a>-->
					<a href=""><div class="dds-follow dds-icon-button"></div></a>
					<a href="#openModal"><div class="dds-dmail dds-icon-button"></div></a>
				</div>
				<div id="openModal" class="modalDialog-dmail">
					<div>
						<a href="#close" title="Close" class="close">&#x2715;</a>
						<!--iframe id="dmail-message" src="morphis://.dmail/compose/" height="100%" width="100%"></iframe-->
					</div>
				</div>
				<div class="dds-post-text">I love my blog, its the best. ;)
				<div class="dds-post-bottom-icons"><a href=""><div class="dds-vote"></div></a>&nbsp;{score}</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>