<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body class="dds">
	<div class="blog-author-current">
		<div class="blog-post-user-icon-author">
			<a href=""><img src="morphis://.dds/images/user-img2.png" width="20px" height="20px"></a>
		</div>
		<span class="blog-center-text">Current identity is <a href="">@thufir</a></span>
		<div class="blog-author-current-right">
			<a href=""><div class="blog-header-settings"></div></a>
			<a href=""><div class="blog-header-global-settings"></div></a>
			<a href=""><span class="blog-comment-bubble-header">30</span></a>
		</div>
	</div>
</body>