<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body class="blog">
	<!--<div class="blog-header-content-wrapper-before"></div>-->
	<div class="blog-author-current">
		<div class="blog-post-user-icon-author">
			<a href=""><img src="morphis://.dds/images/user-img2.png" width="20px" height="20px"></a>
		</div>
		<span class="blog-center-text">Current identity is <a href="">@thufir</a></span>
		<div class="blog-author-current-right">
			<a href=""><div class="blog-header-global-settings"></div></a>
			<a href=""><div class="blog-header-settings"></div></a>
			<a href=""><span class="blog-comment-bubble-header">30</span></a>
		</div>
	</div>
	<div class="blog-header-content-wrapper">
		<div class="blog-header-content">
			<div class="blog-header-right">
				<ul class="blog-header-tabs-button">
					<li><a href="">Subscribe</a></li>
					<li><a href="">View User Profile</a></li>
				</ul>
			</div>
			<div class="blog-user-icon-header">
				<img src="morphis://.dds/images/user-img-blog-lg2.png" height="75px" width="75px">
			</div>
			<!--<div class="blog-header-right">
				<a href=""><span class="blog-comment-bubble">30</span></a>
			</div>-->
			<div class="blog-header-nav">
				<h1><a href="">Borp's Food Blog</a></h1>
				<hr class="style12"></hr>
				<ul class="blog-header-tabs-text">
					<li><a href="">About</a></li>
					<li><a href="">Recipes</a></li>
					<li><a href="">Drinks</a></li>
					<li><a href="">Links</a></li>
					<li><a href="">Dmail</a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title-fullpg">
			<a href="">How to Make Galaxy Glaze</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<hr class="style1"></hr><br />
		<div class="blog-photo-full-header">
			<img class="object-fit_cover" src="morphis://.dds/images/galaxyglaze.jpg">
		</div>
		<div class="blog-post-content">
			<p>I have a very obsessive personality. I can fixate on one thing for hours and hours, days, even weeks. Lately it’s been galaxy donuts. I could spend hours looking at their delicious, glossy glaze. That mix of blues and purples with sparkly silver…swoon.</p>
			<p>I’ve been going down an internet/instagram hole of galaxy things, so much so that every time Mike looks over at what I’m doing, it’s inevitably galaxy related. I wanted to give galaxy glaze a try but didn’t want to make donuts, so I came up with the brilliant idea of glazing some oreo thins.</p>
			<div class="blog-photo-small-left">
				<img src="morphis://.dds/images/galaxyglaze4.jpg">
			</div>
			<p>I thought it would be relatively simple, especially because I googled the heck out of it. But it turns out, even if a website boasts that they know the key to galaxy glaze, they most probably don’t. Most of the sites I ended up on had a picture of the donuts that I wanted to make, but then, at the end of the page, they’d show their pathetic, unattractive and very un-galaxy like donut glazing attempts.</p>
			<p>Lesson learned friends: don’t just drop food coloring into a bowl of icing thinking it’ll end up as a gorgeous galaxy. I had quite a few sad oreos before Mike took pity on me and told me he’d figure it out. Mike’s exceptionally good at color theory (he is a designer, after all) and after a quick experiment, we were churning out galaxy oreos like there was no tomorrow.</p>
			<p>This galaxy glaze is seriously out of this world fun. Chat soon, I’m going out to buy a bunch of things I can randomly galaxy glaze!</p>
			<p>I have a very obsessive personality. I can fixate on one thing for hours and hours, days, even weeks. Lately it’s been galaxy donuts. I could spend hours looking at their delicious, glossy glaze. That mix of blues and purples with sparkly silver…swoon.</p>
			<p>I’ve been going down an internet/instagram hole of galaxy things, so much so that every time Mike looks over at what I’m doing, it’s inevitably galaxy related. I wanted to give galaxy glaze a try but didn’t want to make donuts, so I came up with the brilliant idea of glazing some oreo thins.</p>
			<p>I thought it would be relatively simple, especially because I googled the heck out of it. But it turns out, even if a website boasts that they know the key to galaxy glaze, they most probably don’t. Most of the sites I ended up on had a picture of the donuts that I wanted to make, but then, at the end of the page, they’d show their pathetic, unattractive and very un-galaxy like donut glazing attempts.</p>
			<div class="blog-photo-full">
				<img class="object-fit_cover" src="morphis://.dds/images/galaxyglaze2.jpg">
			</div>
			<div class="blog-photo-small-right">
				<img src="morphis://.dds/images/galaxyglaze3.jpg">
			</div>
			<br /><h3>How to Make Galaxy Glaze</h3>
			<p>Makes about 1 cup glaze.<span class="blog-grey-text"> Inspired by <a href="">@foodrebel</a></span></p>
			<p><b>1 cup icing sugar<br />
			1.5-2 tablespoons milk<br />
			gel food coloring of choice<br />
			edible glitter, if desired<br />
			foods to glaze<br /></b>
			</p><p>Mix the icing sugar and milk together until smooth. Spoon a bit of icing out into a separate bowl and keep it white. Tint your base with just a bit of food coloring – you want it to be very pale, with just a hint of hue. Mix well. Drop on 2 drops of blue and one drop of red and using a chopstick or skewer, drag the color back and forth in one direction, not quite mixing it together, but creating streaks of color. Dribble some of the white icing back on top. With a smooth swooshing motion, dip your cookie or donut into the surface of the glaze, pulling it along the surface to achieve streaks. Let the excess drip off and place on a plate to let dry. Dust with glitter, if desired. From time to time, add more white icing to the bowl to ensure the galaxy effect.</p>
		</div>
		<div class="blog-clear-div"></div>
		<br /><hr class="style2"></hr><br />
		30 Comments Sort by newest
		<div class="dds-reply-user-icon"><img src="morphis://.dds/images/user-img-lg.png" height="55px" width="55px"></div>
		<form class="dds-message" action="morphis://.dds/synapse/create" method="post" accept-charset="UTF-8 ISO-8859-1">
			<div class="dds-reply-content">
				<div class="dds-reply-top">
					<input type="hidden" name="csrf_token" id="csrf_token" value="{csrf_token}"/>
					<input type="hidden" name="target_addr" value="{target_addr}"/>
					<input type="hidden" name="ident" value="{ident}"/>
						<ul class="dds-menu">
							<li>
								<input class="dds-menu-input" id="check01" type="checkbox" name="dds-menu"/>
								<label class="dds-menu-input" for="check01">{ident_str}</label>
								<ul class="dds-submenu">
								<li><a href="#">{ident_str}</a></li>
								<li><a href="#">{ident_str}</a></li>
								<li><a href="#">{ident_str}</a></li>
								<li><a href="#">{ident_str}</a></li>
								<li><a href="#">{ident_str}</a></li>
								<li><a href="#">{ident_str}</a></li>
								</ul>
							</li>
							</ul>
							<div class="dds-reply-text">thinks:</div>
				</div>
				<div class="dds-text-area-wrapper"><textarea class="dds-reply-input" autofocus name="content2" id="TITLE" placeholder="Say something..."></textarea></div>
				<div class="dds-reply-button-wrapper"><div class="dds-reply-accesskey-text">(Firefox, IE: [Alt] [Shift] + a) (Chrome, Safari: [Alt] + a)</div><button class="dds-reply-button" accesskey="a"  class="reply" type="submit">SEND</button></div>
			</div>
		</form>
		<div class="dds-post">
			<div class="dds-post-wrapper">
			<div class="blog-post-vote blog-vertical-line">
					<div class="blog-post-upvote"></div>
					<span class="blog-grey-text">180</span>
					<div class="blog-post-flag"></div>
				</div>
				<div class="dds-user-icon"><img src="morphis://.dds/images/user-img.png"></div>
				<div class="dds-post-content" style="{style}">
					<div class="dds-post-name dds-trunc"><a href="morphis://.text/{signing_key}" title="{signing_key}">{signer}</a></div>
					<div class="dds-post-title">&nbsp;</div>
					<div class="dds-post-time">{relative_time} ({timestamp})</div>
					<div class="dds-post-icons">
						<a href=""><div class="dds-reply dds-icon-button"></div></a>
						<!--<a href=""><div class="dds-vote dds-icon-button"></div></a>-->
						<!--<a href=""><div class="dds-mention dds-icon-button"></div></a>-->
						<a href=""><div class="dds-follow dds-icon-button"></div></a>
						<a href="#openModal"><div class="dds-dmail dds-icon-button"></div></a>
					</div>
					<div id="openModal" class="modalDialog-dmail">
						<div>
							<a href="#close" title="Close" class="close">&#x2715;</a>
							<!--iframe id="dmail-message" src="morphis://.dmail/compose/" height="100%" width="100%"></iframe-->
						</div>
					</div>
					<div class="dds-post-text">{content}</div>
					<div class="dds-post-bottom-icons"><a href=""><div class="dds-vote"></div></a>&nbsp;{score}</div>
				</div>
			</div>
		</div>
		<div class="dds-post">
			<div class="blog-comment-wrapper-reply">
				<div class="blog-post-vote blog-vertical-line">
					<div class="blog-post-upvote"></div>
					<span class="blog-grey-text">180</span>
					<div class="blog-post-flag"></div>
				</div>
				<div class="dds-user-icon"><img src="morphis://.dds/images/user-img.png"></div>
				<div class="dds-post-content" style="{style}">
					<div class="dds-post-name dds-trunc"><a href="morphis://.text/{signing_key}" title="{signing_key}">{signer}</a></div>
					<div class="dds-post-title">&nbsp;</div>
					<div class="dds-post-time">{relative_time} ({timestamp})</div>
					<div class="dds-post-icons">
						<a href=""><div class="dds-reply dds-icon-button"></div></a>
						<!--<a href=""><div class="dds-vote dds-icon-button"></div></a>-->
						<!--<a href=""><div class="dds-mention dds-icon-button"></div></a>-->
						<a href=""><div class="dds-follow dds-icon-button"></div></a>
						<a href="#openModal"><div class="dds-dmail dds-icon-button"></div></a>
					</div>
					<div id="openModal" class="modalDialog-dmail">
						<div>
							<a href="#close" title="Close" class="close">&#x2715;</a>
							<!--iframe id="dmail-message" src="morphis://.dmail/compose/" height="100%" width="100%"></iframe-->
						</div>
					</div>
					<div class="dds-post-text">{content}</div>
					<div class="dds-post-bottom-icons"><a href=""><div class="dds-vote"></div></a>&nbsp;{score}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="blog-photo-post-wrapper2">
	<div class="blog-photo-post-short2">
			<div class="blog-photo-post-text2">
				<div class="dds-user-icon"><img src="morphis://.dds/images/user-img.png"></div>
					<div class="blog-post-top">
						<div class="blog-post-author">Posted by: <a href="">Borp</a></div>
						<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)</div>
					</div>
			</div>
			<div class="blog-photo-post2"><img src="morphis://.dds/images/photo-post.png"></div>
		<div class="blog-photo-post-text2">
			<div class="blog-post-likes2\">27 likes</div>
			<div class="blog-post-user-navy">
				<a href="">Borp</a> I think I'll make some pesto for dinner. Mmm...the taste of summer. <a href="" class="blog-photo-post-tags2">#backyardfarmer</a> <a href="" class="blog-photo-post-tags2">#urbanhomestead</a></p>
				<div class="blog-read-more">view all 5 comments</div>
				<div><a href="">Bob</a> Beautiful! Pesto is one of my faves</div>
				<div><a href="">Amy</a> Looove this!</div>
			</div>
		</div>
	</div>
</div>-->
</body>
</html>