<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body class="blog">
	<!--<div class="blog-header-content-wrapper-before"></div>-->
	<div class="blog-author-current">
		<div class="blog-post-user-icon-author">
			<a href=""><img src="morphis://.dds/images/user-img2.png" width="20px" height="20px"></a>
		</div>
		<span class="blog-center-text">Current identity is <a href="">@thufir</a></span>
		<div class="blog-author-current-right">
			<a href=""><div class="blog-header-global-settings"></div></a>
			<a href=""><div class="blog-header-settings"></div></a>
			<a href=""><span class="blog-comment-bubble-header">30</span></a>
		</div>
	</div>
	<div class="blog-header-content-wrapper">
		<div class="blog-header-content">
			<div class="blog-header-right">
				<ul class="blog-header-tabs-button">
					<li><a href="">Subscribe</a></li>
					<li><a href="">View User Profile</a></li>
				</ul>
			</div>
			<div class="blog-user-icon-header">
				<img src="morphis://.dds/images/user-img-blog-lg2.png" height="75px" width="75px">
			</div>
			<!--<div class="blog-header-right">
				<a href=""><span class="blog-comment-bubble">30</span></a>
			</div>-->
			<div class="blog-header-nav">
				<h1><a href="">Borp's Food Blog</a></h1>
				<hr class="style12"></hr>
				<ul class="blog-header-tabs-text">
					<li><a href="">About</a></li>
					<li><a href="">Recipes</a></li>
					<li><a href="">Drinks</a></li>
					<li><a href="">Links</a></li>
					<li><a href="">Dmail</a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title-fullpg">
			<a href="">Photo blog post</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<div class="blog-post-content">
			<div class="blog-photo-full-header"><img class="object-fit_cover" src="morphis://.dds/images/galaxyglaze.jpg"></div>
			<p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm.</p><p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall...</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
		</div>
	</div>
</div>

<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title dds-trunc">
			<a href="">text blog post</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">A Friend of Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<div class="blog-post-content">
			<p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm.</p><p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm. Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional...</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
		</div>
	</div>
</div>

<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title dds-trunc">
			<a href="">photo blog post alternate</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<div class="blog-photo-small-left-header"><img src="morphis://.dds/images/photo-post-lg.jpeg"></div>
		<div class="blog-post-content">
			<p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm. Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the...</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
			<!--<div><a href="">Bob</a> Beautiful! Pesto is one of my faves</div>
			<div><a href="">Amy</a> Looove this!</div></div>-->
			<div class="blog-clear-div"></div>
			<div class="blog-post-user-navy"></div>
		</div>
	</div>
</div>

<!--<div class="blog-photo-post-wrapper2">
	<div class="blog-photo-post-short2">
			<div class="blog-photo-post-text2">
				<div class="dds-user-icon"><img src="morphis://.dds/images/user-img.png"></div>
					<div class="blog-post-top">
						<div class="blog-post-author">Posted by: <a href="">Borp</a></div>
						<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)</div>
					</div>
			</div>
			<div class="blog-photo-post2"><img src="morphis://.dds/images/photo-post.png"></div>
		<div class="blog-photo-post-text2">
			<div class="blog-post-likes2\">27 likes</div>
			<div class="blog-post-user-navy">
				<a href="">Borp</a> I think I'll make some pesto for dinner. Mmm...the taste of summer. <a href="" class="blog-photo-post-tags2">#backyardfarmer</a> <a href="" class="blog-photo-post-tags2">#urbanhomestead</a></p>
				<div class="blog-read-more">view all 5 comments</div>
				<div><a href="">Bob</a> Beautiful! Pesto is one of my faves</div>
				<div><a href="">Amy</a> Looove this!</div>
			</div>
		</div>
	</div>
</div>-->
</body>
</html>