<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="morphis://.dds/style.css"></link>
    <title></title>
</head>
<body class="dds">
	<div class="blog-author-current">
		<div class="blog-post-user-icon-author">
			<a href=""><img src="morphis://.dds/images/user-img2.png" width="20px" height="20px"></a>
		</div>
		<span class="blog-center-text">Current identity is <a href="">@thufir</a></span>
		<div class="blog-author-current-right">
			<a href=""><div class="blog-header-settings"></div></a>
			<a href=""><div class="blog-header-global-settings"></div></a>
			<a href=""><span class="blog-comment-bubble-header">30</span></a>
		</div>
	</div>
<div class="blog-header-content-wrapper">
		<div class="blog-header-content">
			<div class="blog-header-right">
				<ul class="blog-header-tabs-button">
					<li><a href="">Subscribe</a></li>
					<li><a href="">View Blog</a></li>
				</ul>
			</div>
			<div class="blog-user-icon-header">
				<img src="morphis://.dds/images/user-img-blog-lg2.png" height="75px" width="75px">
				<div class="dds-profile-vote-wrapper">
					<div class="dds-profile-upvote"></div>
					<div class="dds-profile-grey-text">180</div>
					<div class="dds-profile-flag"></div>
				</div>
			</div>
			<!--<div class="blog-header-right">
				<a href=""><span class="blog-comment-bubble">30</span></a>
			</div>-->
			<div class="blog-header-nav">
				<h1><a href="">Borp's Profile</a></h1>
				<div class="blog-header-profile-text"><p>My awesome profile. Read it, I am Morphis-famous! My blog is the second best!!!! Follow me for the best posts ever. You won't be disapointed. Also, join Atlantis, it's awesome.</p>
				<hr class="style12"></hr>
				<ul class="blog-header-tabs-text">
					<li><a href="">Bio</a></li>
					<li><a href="">Dmail</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="dds-post">
			<div class="dds-user-icon"><img src="morphis://.dds/images/user-img2.png"></div>
			<div class="dds-post-content" style="{style}">
				<div class="dds-post-name dds-trunc"><a href="morphis://.text/{signing_key}" title="{signing_key}">Borp</a></div>
				<div class="dds-post-title">&nbsp;at <a href="">Friend's Blog</a> @<a class="dds-post-name2" href="">bitcoin_guy</a>&nbsp;</div>
				<div class="dds-post-time">{relative_time} ({timestamp})</div>
				<div class="dds-post-icons">
					<a href=""><div class="dds-reply dds-icon-button"></div></a>
					<!--<a href=""><div class="dds-vote dds-icon-button"></div></a>-->
					<!--<a href=""><div class="dds-mention dds-icon-button"></div></a>-->
					<a href=""><div class="dds-follow dds-icon-button"></div></a>
					<a href="#openModal"><div class="dds-dmail dds-icon-button"></div></a>
				</div>
				<div id="openModal" class="modalDialog-dmail">
					<div>
						<a href="#close" title="Close" class="close">&#x2715;</a>
						<!--iframe id="dmail-message" src="morphis://.dmail/compose/" height="100%" width="100%"></iframe-->
					</div>
				</div>
				<div class="dds-post-text">Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm. Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the...</p>
				<div class="blog-read-more"><a href="">Continue Reading...</a></div>
				<div class="dds-post-bottom-icons"><a href=""><div class="dds-vote"></div></a>&nbsp;{score}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blog-post-short-wrapper-author">
	<div class="blog-post-short">
		<div class="dds-post">
			<div class="dds-user-icon"><img src="morphis://.dds/images/user-img2.png"></div>
			<div class="dds-post-content" style="{style}">
				<div class="dds-post-name dds-trunc"><a href="morphis://.text/{signing_key}" title="{signing_key}">Borp</a></div>
				<div class="dds-post-title">&nbsp;in <a href="">#MORPHiS-dev</a>&nbsp;</div>
				<div class="dds-post-time">{relative_time} ({timestamp})</div>
				<div class="dds-post-icons">
					<a href=""><div class="dds-reply dds-icon-button"></div></a>
					<!--<a href=""><div class="dds-vote dds-icon-button"></div></a>-->
					<!--<a href=""><div class="dds-mention dds-icon-button"></div></a>-->
					<a href=""><div class="dds-follow dds-icon-button"></div></a>
					<a href="#openModal"><div class="dds-dmail dds-icon-button"></div></a>
				</div>
				<div id="openModal" class="modalDialog-dmail">
					<div>
						<a href="#close" title="Close" class="close">&#x2715;</a>
						<!--iframe id="dmail-message" src="morphis://.dmail/compose/" height="100%" width="100%"></iframe-->
					</div>
				</div>
				<div class="dds-post-text">I love my blog, its the best. ;)
				<div class="dds-post-bottom-icons"><a href=""><div class="dds-vote"></div></a>&nbsp;{score}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blog-post-short-wrapper-author">
	<div class="blog-post-short">
		<div class="dds-post">
			<div class="dds-user-icon"><img src="morphis://.dds/images/user-img2.png"></div>
			<div class="dds-post-content" style="{style}">
				<div class="dds-post-name dds-trunc"><a href="morphis://.text/{signing_key}" title="{signing_key}">Borp</a></div>
				<div class="dds-post-title">&nbsp;in <a href="">#MORPHiS-dev</a>&nbsp;</div>
				<div class="dds-post-time">{relative_time} ({timestamp})</div>
				<div class="dds-post-icons">
					<a href=""><div class="dds-reply dds-icon-button"></div></a>
					<!--<a href=""><div class="dds-vote dds-icon-button"></div></a>-->
					<!--<a href=""><div class="dds-mention dds-icon-button"></div></a>-->
					<a href=""><div class="dds-follow dds-icon-button"></div></a>
					<a href="#openModal"><div class="dds-dmail dds-icon-button"></div></a>
				</div>
				<div id="openModal" class="modalDialog-dmail">
					<div>
						<a href="#close" title="Close" class="close">&#x2715;</a>
						<!--iframe id="dmail-message" src="morphis://.dmail/compose/" height="100%" width="100%"></iframe-->
					</div>
				</div>
				<div class="dds-post-text">I love my blog, its the best. ;)
				<div class="dds-post-bottom-icons"><a href=""><div class="dds-vote"></div></a>&nbsp;{score}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title-fullpg">
			<a href="">Photo blog post</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<div class="blog-post-content">
			<div class="blog-photo-full-header"><img class="object-fit_cover" src="morphis://.dds/images/galaxyglaze.jpg"></div>
			<p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm.</p><p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall...</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
		</div>
	</div>
</div>

<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title dds-trunc">
			<a href="">text blog post</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">A Friend of Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<div class="blog-post-content">
			<p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm.</p><p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm. Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional...</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
		</div>
	</div>
</div>

<div class="blog-post-short-wrapper">
	<div class="blog-post-short">
		<div class="blog-post-vote blog-vertical-line">
			<div class="blog-post-upvote"></div>
			<span class="blog-grey-text">180</span>
			<div class="blog-post-flag"></div>
		</div>
		<div class="blog-post-header-right">
			<a href=""><span class="blog-comment-bubble">30</span></a>
			<div class="blog-post-id"><a href="">#y9n66zjmasktnor964r4sqzn8h8ptkiy</a></div>
		</div>
		<div class="blog-post-title dds-trunc">
			<a href="">photo blog post alternate</a>
		</div>
		<div class="blog-post-top-wrapper">
			<div class="blog-post-user-icon">
				<img src="morphis://.dds/images/user-img2.png">
			</div>
			<div class="blog-post-top">
				<div class="blog-post-user">Posted by: <a href="">Borp</a>
				</div>
				<div class="dds-post-time">1 months ago (2016-07-14 11:36:00)
				</div>
			</div>
		</div>
		<div class="blog-photo-small-left-header"><img src="morphis://.dds/images/photo-post-lg.jpeg"></div>
		<div class="blog-post-content">
			<p>Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the Associated Press, detailing the United States' first offshore wind farm that is set to open off the cost of Rhode Island this fall. Business Insider issued a report today with some additional specifications and stunning pictures of the Block Island Wind Farm. Last week, an anonymous <a href="">Slashdot reader</a> submitted a story from the...</p>
			<div class="blog-read-more"><a href="">Continue Reading...</a></div>
			<!--<div><a href="">Bob</a> Beautiful! Pesto is one of my faves</div>
			<div><a href="">Amy</a> Looove this!</div></div>-->
			<div class="blog-clear-div"></div>
			<div class="blog-post-user-navy"></div>
		</div>
	</div>
</div>
</body>